@{
    ViewBag.Title = "business";
    ViewBag.Sub = "Index";

    Layout = "~/Views/Shared/_subLayout.cshtml";

    string strIndex = "";

    if (Request.QueryString["index"] != null)
    {
        strIndex = Request.QueryString["index"].ToString();
    }

    string setLang = "";
    if (HttpContext.Current.Session["Language"] == null)
    {
        setLang = "KO";
    }
    else
    {
        setLang = HttpContext.Current.Session["Language"].ToString();
    }

    if (string.IsNullOrEmpty(setLang))
    {
        setLang = "KO";
    }
}

@section Container {
    <div class="container" aria-live="polite">
        <!-- 여기 안에서 작업 -->
        <div class="greeting business">
            <div class="greeting_title">
                <img class="pc" src="~/Images/grt_hd.png" />
                <img class="mo" src="~/Images/grt_hd_mo.png" />
                @*<h1 class="title">어려움을 기회로 삼아 현실에 안주하지 않고, 보다 진취적이고 역동적인 스카이로드로 거듭날 것을 약속 드립니다.</h1>*@
            </div>
            <div class="greeting_box" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                <div class="greeting_cont on">
                    <div class="greeting_info" id="Vision">
                        <h2 class="sub_title">Why Skyroad<span>Why Skyroad</span></h2>
                        <div class="img_cover">
                            <img src="~/Images/busi_title01.png" />
                        </div>
                        <img src="~/Images/btn_plus.png" class="btn_plus" />
                        <img src="~/Images/btn_minus.png" class="btn_minus" />
                    </div>
                    <div class="greeting_desc grt show">
                        <div class="part1">
                            <h2 class="sub_title">Why Skyroad<span>Why Skyroad</span></h2>
                            <div class="cont_info">
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/why_img01.png" /><span class="cont_num">01</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">관점<span class="eng_title">Viewpoint</span></h3>
                                        <p>
                                            물류회사 관점이 아닌 고객 관점의 서비스<br />
                                            고객들의 다양한 요구사항에 맞춰 서비스를 제공해드려야 하기 때문에 일원화된 업무 방식을 지향하지 않습니다.<br />
                                            핵심적인 고객의 니즈를 빨리 파악하고 더 효과적으로 도움을 드릴 수 있는 역량을 갖추는 데에 집중합니다.
                                        </p>
                                        <p class="eng">Systems of Skyroad are followed by customer's point of view.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/why_img02.png" /><span class="cont_num">02</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">경쟁력<span class="eng_title">Competitivity</span></h3>
                                        <p>
                                            글로벌 항공사, 선사와의 다년간의 네트워크로 경쟁력 있는 운임과 스페이스의 확보<br />
                                            스카이로드는 운송 아이템의 다변화로 꾸준히 신규 라우트를 개발하였습니다.<br />
                                            다년간 항공사, 선사와의 시너지 창출로 영향력을 확장하였으며, 안정적인 스페이스 경쟁력을 확보하였습니다.
                                        </p>
                                        <p class="eng">Skyroad has been secured ultimate competitivity by maintaining networks with every stakeholder since 1997.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/why_img03.png" /><span class="cont_num">03</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">경험<span class="eng_title">Experience</span></h3>
                                        <p>
                                            다양한 형태의 운송에 대한 풍부한 경험<br />
                                            초중량 기계설비, 의료기기, 위험물 등 다양한 형태의 운송의 경험은 스카이로드의 자산이 되었습니다.<br />
                                            스페셜 화물 핸들링 시 필요 사항은 표준화 되어있으며, 표준운영절차에 따라 쉽고 빠르게 문제를 해결합니다.
                                        </p>
                                        <p class="eng">Skyroad has differentiated project logistics competitiveness based on its ultra-heavy cargo transport capacity, consulting capabilities, and its own overseas networks.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/why_img04.png" /><span class="cont_num">04</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">전문성<span class="eng_title">Professional</span></h3>
                                        <p>
                                            TF 기반 업무 제공함으로써 다양한 아이템에 대해 전문적인 서비스 제공<br />
                                            스카이로드는 다양한 요구의 운송에 대해 팀단위 대응을 하고 있습니다.<br />
                                            중량설비, 의료기기, 의약품에 대한 각각의 팀을 운영하며 전문성을 제고하였습니다.
                                        </p>
                                        @*<p class="eng">Integrated expertise for full service package by it's own task force.</p>*@
                                        <p class="eng">Skyroad integrated expertise for full service package by it’s own task force.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/why_img05.png" /><span class="cont_num">05</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">서비스<span class="eng_title">Service</span></h3>
                                        <p>
                                            빠른 판단과 신속한 결정으로 높은 레벨의 서비스 제공<br />
                                            다양한 요구에 만족하는 서비스를 제공해드리는 데에 있어 영업사원과 오페레이터의 빠른 의사결정은 필수 요소입니다.<br />
                                            불필요한 의사결정 체계를 없애고 물류업무의 본질에 부합하는 서비스를 제공합니다.
                                        </p>
                                        <p class="eng">Our operations are ideally suited for providing high level of freight forwarding services, which is made by quick decision of each operator.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/why_img06.png" /><span class="cont_num">06</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">정확성<span class="eng_title">Accuracy</span></h3>
                                        <p>
                                            RPA 서비스 도입을 통해 24시간 업무 서포트, 휴먼에러 최소화 달성<br />
                                            휴먼에러 최소화를 통한 업무 효율 극대화와 품질 향상을 도모합니다.<br />
                                            지속적으로 RPA 프로세스 적용 범위를 확대 개발하여 단순 반복업무 효율 개선 및 개별 담당자의 업무환경 최적화를 지향합니다.
                                        </p>
                                        <p class="eng">Skyroad's Robotic Process Automation achieved two critical goals. 24-hour operation systems, and minimizing mistake by removing human error.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="greeting_cont">
                    <div class="greeting_info" id="Sales">
                        <h2 class="sub_title">사업영역<span>Skyroad's Business</span></h2>
                        <div class="img_cover">
                            <img src="~/Images/busi_title02.png" class="pd_bt0" />
                        </div>
                        <img src="~/Images/btn_plus.png" class="btn_plus" />
                        <img src="~/Images/btn_minus.png" class="btn_minus" />
                    </div>
                    <div class="greeting_desc grt">
                        <div class="part1">
                            <h2 class="sub_title">사업영역<span>Skyroad's Business</span></h2>
                            <div class="cont_info">
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/busi_img01.png" /><span class="cont_num">01</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">Air forwarding</h3>
                                        <p>
                                            1. 항공 화물 서비스 <span class="in_desc">(Air Cargo Service)</span><br />
                                            2. 당일선적 서비스 <span class="in_desc">(Same-day shipping Service)</span><br />
                                            3. 정기 혼재화물 서비스 <span class="in_desc">(Consolidation Service)</span><br />
                                            4. 직송 서비스 <span class="in_desc">(Door to Door Service)</span><br />
                                            5. 항공&해상 연계 서비스 <span class="in_desc">(Air&Ocean connection Service)</span><br />
                                            6. 리포딩 서비스 <span class="in_desc">(Reforwarding Service)</span>
                                        </p>
                                        <p>
                                            항공수입 : <a href="mailto:airimp@skyrd.co.kr">airimp@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#104)</a><br />
                                            항공수출 : <a href="mailto:airexp@skyrd.co.kr">airexp@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#205)</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/busi_img02.png" /><span class="cont_num">02</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">Sea forwarding</h3>
                                        <p>
                                            1. 컨테이너 서비스 <span class="in_desc">(Container Service)</span><br />
                                            2. 혼재화물 서비스 <span class="in_desc">(LCL or Consolidation Service)</span><br />
                                            3. 직송 서비스 <span class="in_desc">(Door to Door Service)</span><br />
                                            4. 항공&해상 연계 서비스 <span class="in_desc">(Air&Ocean connection Service)</span><br />
                                            5. 철송 서비스 <span class="in_desc">(Rail Service)</span>
                                        </p>
                                        <p>
                                            해상수입 : <a href="mailto:oceanimp@skyrd.co.kr">oceanimp@skyrd.co.kr</a> | <a href="tel:051-466-9915">051-466-9915</a><br />
                                            해상수출 : <a href="mailto:oceanexp@skyrd.co.kr">oceanexp@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#207)</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/busi_img03.png" /><span class="cont_num">03</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">Transport</h3>
                                        <p>
                                            1. 국내 운송에 대한 자체 솔루션 제공<br />
                                            <span class="bl_desc">In-house flexible domestic trucking service and tracking and tracing</span>
                                            2. 독차 및 콘솔 트럭 운영<br />
                                            <span class="bl_desc">Express & Console truck service for general cargoes</span>
                                            3. 무진동 및 냉장 트럭 서비스<br />
                                            <span class="bl_desc">Air ride & Cool trucking service for sensitive cargoes</span>
                                        </p>
                                        <p>내륙운송 : <a href="mailto:transport@skyrd.co.kr">transport@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#117)</a></p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/busi_img04.png" /><span class="cont_num">04</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">Warehouse</h3>
                                        <p>
                                            1. 재포장, 라벨 및 태그 등 화물의 안전한 보관을 위한 서비스<br />
                                            <span class="bl_desc">Repackingm, Labeling, Tagging and Repairing Service</span>
                                            2. 입출하 및 재고 실시간 정보 공유를 통한 WMS 제공<br />
                                            <span class="bl_desc">Complete Warehouse Management Systems by sharing stock info on real-time basis</span>
                                        </p>
                                        <p>창고서비스 : <a href="mailto:cyoon56@skyrd.co.kr">cyoon56@skyrd.co.kr</a> | <a href="tel:032-744-8020">032-744-8020</a></p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/busi_img05.png" /><span class="cont_num">05</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">Project Cargo</h3>
                                        <p>
                                            1. 풍부한 경험을 통한 화물 특성에 맞는 신속한 서비스<br />
                                            <span class="bl_desc">Multi-modal, special equipment shipments are all covered by our own project team</span>
                                            2. 기획, 점검, 실행을 통해 최적의 루트 발굴<br />
                                            <span class="bl_desc">Skyroad has been a leader in moving all types of project cargo from source to destination by our own solutions</span>
                                        </p>
                                        <p>프로젝트카고 : <a href="mailto:sales2@skyrd.co.kr">sales2@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#118)</a></p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/busi_img06.png" /><span class="cont_num">06</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">Pharmaceutical & Medical</h3>
                                        <p>
                                            1. Pharmaceutical & Medical = 의약품, 의료기기 운송에 최적화한 스카이로드의 특화 솔루션<br />
                                            <span class="bl_desc">Skyroad provides a globally coordinated, full-range solutions for shipping biomedicines and medical devices</span>
                                            2. 의약품 : GMP 규정에 부함하는 품질 서비스 및 콜드체인 솔루션 구축<br />
                                            <span class="bl_desc">Skyroad has the capabilities to serve the full clinical trial supply ecosystem by complying with global standard GMP</span>
                                            3. 의료기기 : MRI, CT, PET CT 등 의료기기에 대한 압도적인 운송 실적과 데이터 확보<br />
                                            <span class="bl_desc">Our long history of shipping biomedicines & medical devices keep you in the know for confident, data-driven decision making</span>
                                        </p>
                                        <p>Pharmaceutical & Medical : <a href="mailto:skymed@skyrd.co.kr">skymed@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#109)</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="greeting_cont">
                    <div class="greeting_info" id="History">
                        <h2 class="sub_title">성공사례<span>Case</span></h2>
                        <div class="img_cover">
                            <img src="~/Images/busi_title03.png" />
                        </div>
                        <img src="~/Images/btn_plus.png" class="btn_plus" />
                        <img src="~/Images/btn_minus.png" class="btn_minus" />
                    </div>
                    <div class="greeting_desc grt">
                        <div class="part1">
                            <h2 class="sub_title">성공사례<span>Case</span></h2>
                            <div class="cont_info">
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/case_img01.png" /><span class="cont_num">01</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">전세기 운송 케이스</h3>
                                        <p>
                                            운송이 까다로운 장축 설비 의뢰를 받아 화물의 도면을 사전에 검토하며 운송중 예상되는 리스크를 사전에 점검, 수출자의 패킹상태, 라싱 포인트부터 체크하며 소통하였습니다.<br />
                                            자체 네트워크로 초대형 수송기를 수배, 전세계 어느 지역이든 스카이로드에게 걸림돌은 없었습니다.<br />
                                            또한 사전에 도착국가의 관할 부처 (국토부) 협조를 구하여 현지 내륙운송 시 예상되는 법적 리스크도 관리하였습니다.<br />
                                            운송의 리스크가 높은 화물이라면 더욱 세심한 관리가 필요합니다.<br />
                                            스카이로드의 서비스로 어려운 운송이 심플해집니다.
                                        </p>
                                        <p class="eng">Skyroad's transportation service superiority and know-how in arranging charter flight have been recognized for a long time. Experience our best solution, and keep it simple.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/case_img02.png" /><span class="cont_num">02</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">초중량 화물 하역 작업</h3>
                                        <p>
                                            단일화물 120톤의 Parts를 해상크레인 사용하여 바지선 양하하였으며, 마지막 임무는 초중량 화물을 안전하게 선로 위 하역까지 해내는 것이었습니다.<br />
                                            스카이로드 운송팀은 (TF) 하역현장에 두발 벗고 직접 작업에 참여하여 함께 임무를 완수하였습니다.<br />
                                            초중량 화물 진행 시 스카이로드 운송팀은 (TF) 현장에 참여하여 고객사와 충분히 소통하며 작업을 완전히 마칠 때까지 직접 통솔하며 매니지합니다.
                                        </p>
                                        <p class="eng">Skyroad has strengths in handling ultra-heavy equipment. Skyroad Transport team participates in site and manages until the work is perfectly done.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/case_img03.png" /><span class="cont_num">03</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">특수 장비 핸들링</h3>
                                        <p>
                                            방송국의 대형 UHD 장비를 인천 계양산 정상에 하역하는 작업을 해냈습니다.<br />
                                            총 수십톤에 달하는 화물을 높이 395m의 계양산 꼭대기까지 운송하는 작업은 결코 만만한 작업이 아니었습니다.<br />
                                            스카이로드는 Piece로 나누어진 총 수십여톤의 장비를 헬기로 수차례 왕복을 하며 하역하는 솔루션을 고객사 측에 제안, 케이스를 성사시켰습니다.<br />
                                            높은 인보이스 밸류의 화물을 위와 같은 방법으로 하역을 하기 위해서는 최고 수준의 경험과 전문인력이 있어야만 합니다.<br />
                                            스카이로드는 불가능할 것만 같은 상황에도 반드시 솔루션을 찾아내고 해냅니다.
                                        </p>
                                        <p class="eng">Skyroad offers the best solution to clients in every situation. Skyroad has proposed a solution to return and unload dozens of tons of equipment divided into pieces several times by helicopter.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/case_img04.png" /><span class="cont_num">04</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">Breakbulk 화물 운송</h3>
                                        <p>
                                            상대적으로 포트 내 하역장비가 열악한 부산구항 Port에서 Breakbulk 작업한 건입니다.<br />
                                            스카이로드는 도착항의 작업 여건을 사전에 파악하여 가장 효율적이고 안전한 작업을 해낼 수 있는 경험과 데이터가 있습니다.<br />
                                            Breakbulk 화물의 경우 지역 및 화물의 특성에 따라 제약이 있을 수 있으나, 어떠한 화물이라도 다방면을 고려하여 선적하는 것이 프로젝트 물류의 핵심입니다.
                                        </p>
                                        <p class="eng">Skyroad suggests the most efficient and safe work by grasping the working conditions at the port of arrival in advance.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/case_img05.png" /><span class="cont_num">05</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">의료기기 운송</h3>
                                        <p>
                                            스카이로드는 1,999년 MRI, CT 등 의료기기에 최적화된 운송을 위한 SOP를 정립하였습니다.<br />
                                            이후 다양한 의료기기 운송 건들을 경험하며 표준 운영절차를 끊임없이 수정, 보완하여 현재 완성도 높은 의료기기 운송 솔루션을 보유하고 있습니다.<br />
                                            의료기기의 경우 다른 종류의 화물 대비 훨씬 예민한 특성이 있기 때문에 발생할 수 있는 모든 상황에 대한 SOP 구축은 필수이며, 단일 솔루션이 아닌 다수의 솔루션으로 고객사에 제안을 드려야만 합니다.<br />
                                            MRI 내 Liquid Helium 소진시키지 않는 것을 목표로 KPI 설정하여, 운송 절차를 관리하고 있으며, 체계적이고 지속적인 관리의 결과, 100%에 가까운 납기 내 선적률을 달성하였습니다.
                                        </p>
                                        <p class="eng">Skyroad has established SOPs for all possible situations for the transport of every type of medical devices and suggests them to customers with mulitple solutions.</p>
                                    </div>
                                </div>
                                <div class="cont_diff">
                                    <div class="cont_img"><img src="~/Images/case_img06.png" /><span class="cont_num">06</span></div>
                                    <div class="cont_desc">
                                        <h3 class="sub_title">의약품 운송</h3>
                                        <p>
                                            스카이로드의 바이오 운송 시스템은 최근 시약 운송에 대한 시대적인 요구에 부응하고 있습니다.<br />
                                            바이오 의약제품 운송을 위하여 자체 무진동 트러킹 시행, 인천공항 내 대형 냉동, 냉장창고 서비스 제공하고 있습니다.<br />
                                            @*GMP 규정에 완전히 부합하는 전문 시스템을 구축하였으며 국내 포워더로는 선두 주자로서 밸리데이션, 캘리브레이션까지 관리하는 완전한 서비스를 제공해드리고 있습니다.<br />*@
                                            GMP 규정에 부합하는 시스템을 구축하였으며 국내 포워더로는 선두 주자로서 밸리데이션, 캘리브레이션까지 관리하는 완전한 서비스를 제공합니다.<br />
                                            콜드체인 최적화된 운송을 위해 스위스 Block chain 기반 온도 모니터링 솔루션 제공 업체와 MOU 체결하면서 실시간 온도 모니터링을 Cloud로 공유하는 환경을 구축하였습니다.<br />
                                            스카이로드의 의약품 운송은 바이오 운송의 본질에 부합하는 철저한 SOP 기반의 서비스로 고객사들의 업무 효율화에 이바지합니다.
                                        </p>
                                        <p class="eng">Skyroad has established a specialized system that fully meets the GMP regulations and provides complete services that manage validation and calibration.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pc">
                <!-- greeting_desc -->
                <div class="greeting_desc grt_pc show">
                    <div class="part1 business">
                        <h2 class="sub_title">Why Skyroad<span>Why Skyroad</span></h2>
                        <div class="cont_info">
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/why_img01_pc.png" class="pc" /><img src="~/Images/why_img01.png" class="mo" /><span class="cont_num">01</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">관점<span class="eng_title">Viewpoint</span></h3>
                                    <p>
                                        물류회사 관점이 아닌 고객 관점의 서비스<br />
                                        고객들의 다양한 요구사항에 맞춰 서비스를 제공해드려야 하기 때문에 일원화된 업무 방식을 지향하지 않습니다.<br />
                                        핵심적인 고객의 니즈를 빨리 파악하고 더 효과적으로 도움을 드릴 수 있는 역량을 갖추는 데에 집중합니다.
                                    </p>
                                    <p class="eng">Systems of Skyroad are followed by customer's point of view.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/why_img02.png" /><span class="cont_num">02</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">경쟁력<span class="eng_title">Competitivity</span></h3>
                                    <p>
                                        글로벌 항공사, 선사와의 다년간의 네트워크로 경쟁력 있는 운임과 스페이스의 확보<br />
                                        스카이로드는 운송 아이템의 다변화로 꾸준히 신규 라우트를 개발하였습니다.<br />
                                        다년간 항공사, 선사와의 시너지 창출로 영향력을 확장하였으며, 안정적인 스페이스 경쟁력을 확보하였습니다.
                                    </p>
                                    <p class="eng">Skyroad has been secured ultimate competitivity by maintaining networks with every stakeholder since 1997.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/why_img03.png" /><span class="cont_num">03</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">경험<span class="eng_title">Experience</span></h3>
                                    <p>
                                        다양한 형태의 운송에 대한 풍부한 경험<br />
                                        초중량 기계설비, 의료기기, 위험물 등 다양한 형태의 운송의 경험은 스카이로드의 자산이 되었습니다.<br />
                                        스페셜 화물 핸들링 시 필요 사항은 표준화 되어있으며, 표준운영절차에 따라 쉽고 빠르게 문제를 해결합니다.
                                    </p>
                                    <p class="eng">Skyroad has differentiated project logistics competitiveness based on its ultra-heavy cargo transport capacity, consulting capabilities, and its own overseas networks.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/why_img04.png" /><span class="cont_num">04</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">전문성<span class="eng_title">Professional</span></h3>
                                    <p>
                                        TF 기반 업무 제공함으로써 다양한 아이템에 대해 전문적인 서비스 제공<br />
                                        스카이로드는 다양한 요구의 운송에 대해 팀단위 대응을 하고 있습니다.<br />
                                        중량설비, 의료기기, 의약품에 대한 각각의 팀을 운영하며 전문성을 제고하였습니다.
                                    </p>
                                    @*<p class="eng">Integrated expertise for full service package by it's own task force.</p>*@
                                    <p class="eng">Skyroad integrated expertise for full service package by it’s own task force.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/why_img05.png" /><span class="cont_num">05</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">서비스<span class="eng_title">Service</span></h3>
                                    <p>
                                        빠른 판단과 신속한 결정으로 높은 레벨의 서비스 제공<br />
                                        다양한 요구에 만족하는 서비스를 제공해드리는 데에 있어 영업사원과 오페레이터의 빠른 의사결정은 필수 요소입니다.<br />
                                        불필요한 의사결정 체계를 없애고 물류업무의 본질에 부합하는 서비스를 제공합니다.
                                    </p>
                                    <p class="eng">Our operations are ideally suited for providing high level of freight forwarding services, which is made by quick decision of each operator.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/why_img06.png" /><span class="cont_num">06</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">정확성<span class="eng_title">Accuracy</span></h3>
                                    <p>
                                        RPA 서비스 도입을 통해 24시간 업무 서포트, 휴먼에러 최소화 달성<br />
                                        휴먼에러 최소화를 통한 업무 효율 극대화와 품질 향상을 도모합니다.<br />
                                        지속적으로 RPA 프로세스 적용 범위를 확대 개발하여 단순 반복업무 효율 개선 및 개별 담당자의 업무환경 최적화를 지향합니다.
                                    </p>
                                    <p class="eng">Skyroad's Robotic Process Automation achieved two critical goals. 24-hour operation systems, and minimizing mistake by removing human error.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- greeting_desc -->
                <div class="greeting_desc grt_pc">
                    <div class="part1 business">
                        <h2 class="sub_title">사업영역<span>Skyroad's Business</span></h2>
                        <div class="cont_info">
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/busi_img01.png" /><span class="cont_num">01</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">Air forwarding</h3>
                                    <p>
                                        1. 항공 화물 서비스 <span class="in_desc">(Air Cargo Service)</span><br />
                                        2. 당일선적 서비스 <span class="in_desc">(Same-day shipping Service)</span><br />
                                        3. 정기 혼재화물 서비스 <span class="in_desc">(Consolidation Service)</span><br />
                                        4. 직송 서비스 <span class="in_desc">(Door to Door Service)</span><br />
                                        5. 항공&해상 연계 서비스 <span class="in_desc">(Air&Ocean connection Service)</span><br />
                                        6. 리포딩 서비스 <span class="in_desc">(Reforwarding Service)</span>
                                    </p>
                                    <p>
                                        항공수입 : <a href="mailto:airimp@skyrd.co.kr">airimp@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#104)</a><br />
                                        항공수출 : <a href="mailto:airexp@skyrd.co.kr">airexp@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#205)</a>
                                    </p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/busi_img02.png" /><span class="cont_num">02</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">Sea forwarding</h3>
                                    <p>
                                        1. 컨테이너 서비스 <span class="in_desc">(Container Service)</span><br />
                                        2. 혼재화물 서비스 <span class="in_desc">(LCL or Consolidation Service)</span><br />
                                        3. 직송 서비스 <span class="in_desc">(Door to Door Service)</span><br />
                                        4. 항공&해상 연계 서비스 <span class="in_desc">(Air&Ocean connection Service)</span><br />
                                        5. 철송 서비스 <span class="in_desc">(Rail Service)</span>
                                    </p>
                                    <p>
                                        해상수입 : <a href="mailto:oceanimp@skyrd.co.kr">oceanimp@skyrd.co.kr</a> | <a href="tel:051-466-9915">051-466-9915</a><br />
                                        해상수출 : <a href="mailto:oceanexp@skyrd.co.kr">oceanexp@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#207)</a>
                                    </p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/busi_img03.png" /><span class="cont_num">03</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">Transport</h3>
                                    <p>
                                        1. 국내 운송에 대한 자체 솔루션 제공<br />
                                        <span class="bl_desc">In-house flexible domestic trucking service and tracking and tracing</span>
                                        2. 독차 및 콘솔 트럭 운영<br />
                                        <span class="bl_desc">Express & Console truck service for general cargoes</span>
                                        3. 무진동 및 냉장 트럭 서비스<br />
                                        <span class="bl_desc">Air ride & Cool trucking service for sensitive cargoes</span>
                                    </p>
                                    <p>내륙운송 : <a href="mailto:transport@skyrd.co.kr">transport@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#117)</a></p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/busi_img04.png" /><span class="cont_num">04</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">Warehouse</h3>
                                    <p>
                                        1. 재포장, 라벨 및 태그 등 화물의 안전한 보관을 위한 서비스<br />
                                        <span class="bl_desc">Repackingm, Labeling, Tagging and Repairing Service</span>
                                        2. 입출하 및 재고 실시간 정보 공유를 통한 WMS 제공<br />
                                        <span class="bl_desc">Complete Warehouse Management Systems by sharing stock info on real-time basis</span>
                                    </p>
                                    <p>창고서비스 : <a href="mailto:cyoon56@skyrd.co.kr">cyoon56@skyrd.co.kr</a> | <a href="tel:032-744-8020">032-744-8020</a></p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/busi_img05.png" /><span class="cont_num">05</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">Project Cargo</h3>
                                    <p>
                                        1. 풍부한 경험을 통한 화물 특성에 맞는 신속한 서비스<br />
                                        <span class="bl_desc">Multi-modal, special equipment shipments are all covered by our own project team</span>
                                        2. 기획, 점검, 실행을 통해 최적의 루트 발굴<br />
                                        <span class="bl_desc">Skyroad has been a leader in moving all types of project cargo from source to destination by our own solutions</span>
                                    </p>
                                    <p>프로젝트카고 : <a href="mailto:sales2@skyrd.co.kr">sales2@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#118)</a></p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/busi_img06.png" /><span class="cont_num">06</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">Pharmaceutical & Medical</h3>
                                    <p>
                                        1. Pharmaceutical & Medical = 의약품, 의료기기 운송에 최적화한 스카이로드의 특화 솔루션<br />
                                        <span class="bl_desc">Skyroad provides a globally coordinated, full-range solutions for shipping biomedicines and medical devices</span>
                                        2. 의약품 : GMP 규정에 부함하는 품질 서비스 및 콜드체인 솔루션 구축<br />
                                        <span class="bl_desc">Skyroad has the capabilities to serve the full clinical trial supply ecosystem by complying with global standard GMP</span>
                                        3. 의료기기 : MRI, CT, PET CT 등 의료기기에 대한 압도적인 운송 실적과 데이터 확보<br />
                                        <span class="bl_desc">Our long history of shipping biomedicines & medical devices keep you in the know for confident, data-driven decision making</span>
                                    </p>
                                    <p>Pharmaceutical & Medical : <a href="mailto:skymed@skyrd.co.kr">skymed@skyrd.co.kr</a> | <a href="tel:02-3665-1671">02-3665-1671 (#109)</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- greeting_desc -->
                <div class="greeting_desc grt_pc">
                    <div class="part1 business">
                        <h2 class="sub_title">성공사례<span>Case</span></h2>
                        <div class="cont_info">
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/case_img01.png" /><span class="cont_num">01</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">전세기 운송 케이스</h3>
                                    <p>
                                        운송이 까다로운 장축 설비 의뢰를 받아 화물의 도면을 사전에 검토하며 운송중 예상되는 리스크를 사전에 점검, 수출자의 패킹상태, 라싱 포인트부터 체크하며 소통하였습니다.<br />
                                        자체 네트워크로 초대형 수송기를 수배, 전세계 어느 지역이든 스카이로드에게 걸림돌은 없었습니다.<br />
                                        또한 사전에 도착국가의 관할 부처 (국토부) 협조를 구하여 현지 내륙운송 시 예상되는 법적 리스크도 관리하였습니다.<br />
                                        운송의 리스크가 높은 화물이라면 더욱 세심한 관리가 필요합니다.<br />
                                        스카이로드의 서비스로 어려운 운송이 심플해집니다.
                                    </p>
                                    <p class="eng">Skyroad's transportation service superiority and know-how in arranging charter flight have been recognized for a long time. Experience our best solution, and keep it simple.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/case_img02.png" /><span class="cont_num">02</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">초중량 화물 하역 작업</h3>
                                    <p>
                                        단일화물 120톤의 Parts를 해상크레인 사용하여 바지선 양하하였으며, 마지막 임무는 초중량 화물을 안전하게 선로 위 하역까지 해내는 것이었습니다.<br />
                                        스카이로드 운송팀은 (TF) 하역현장에 두발 벗고 직접 작업에 참여하여 함께 임무를 완수하였습니다.<br />
                                        초중량 화물 진행 시 스카이로드 운송팀은 (TF) 현장에 참여하여 고객사와 충분히 소통하며 작업을 완전히 마칠 때까지 직접 통솔하며 매니지합니다.
                                    </p>
                                    <p class="eng">Skyroad has strengths in handling ultra-heavy equipment. Skyroad Transport team participates in site and manages until the work is perfectly done.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/case_img03.png" /><span class="cont_num">03</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">특수 장비 핸들링</h3>
                                    <p>
                                        방송국의 대형 UHD 장비를 인천 계양산 정상에 하역하는 작업을 해냈습니다.<br />
                                        총 수십톤에 달하는 화물을 높이 395m의 계양산 꼭대기까지 운송하는 작업은 결코 만만한 작업이 아니었습니다.<br />
                                        스카이로드는 Piece로 나누어진 총 수십여톤의 장비를 헬기로 수차례 왕복을 하며 하역하는 솔루션을 고객사 측에 제안, 케이스를 성사시켰습니다.<br />
                                        높은 인보이스 밸류의 화물을 위와 같은 방법으로 하역을 하기 위해서는 최고 수준의 경험과 전문인력이 있어야만 합니다.<br />
                                        스카이로드는 불가능할 것만 같은 상황에도 반드시 솔루션을 찾아내고 해냅니다.
                                    </p>
                                    <p class="eng">Skyroad offers the best solution to clients in every situation. Skyroad has proposed a solution to return and unload dozens of tons of equipment divided into pieces several times by helicopter.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/case_img04.png" /><span class="cont_num">04</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">Breakbulk 화물 운송</h3>
                                    <p>
                                        상대적으로 포트 내 하역장비가 열악한 부산구항 Port에서 Breakbulk 작업한 건입니다.<br />
                                        스카이로드는 도착항의 작업 여건을 사전에 파악하여 가장 효율적이고 안전한 작업을 해낼 수 있는 경험과 데이터가 있습니다.<br />
                                        Breakbulk 화물의 경우 지역 및 화물의 특성에 따라 제약이 있을 수 있으나, 어떠한 화물이라도 다방면을 고려하여 선적하는 것이 프로젝트 물류의 핵심입니다.
                                    </p>
                                    <p class="eng">Skyroad suggests the most efficient and safe work by grasping the working conditions at the port of arrival in advance.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/case_img05.png" /><span class="cont_num">05</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">의료기기 운송</h3>
                                    <p>
                                        스카이로드는 1,999년 MRI, CT 등 의료기기에 최적화된 운송을 위한 SOP를 정립하였습니다.<br />
                                        이후 다양한 의료기기 운송 건들을 경험하며 표준 운영절차를 끊임없이 수정, 보완하여 현재 완성도 높은 의료기기 운송 솔루션을 보유하고 있습니다.<br />
                                        의료기기의 경우 다른 종류의 화물 대비 훨씬 예민한 특성이 있기 때문에 발생할 수 있는 모든 상황에 대한 SOP 구축은 필수이며, 단일 솔루션이 아닌 다수의 솔루션으로 고객사에 제안을 드려야만 합니다.<br />
                                        MRI 내 Liquid Helium 소진시키지 않는 것을 목표로 KPI 설정하여, 운송 절차를 관리하고 있으며, 체계적이고 지속적인 관리의 결과, 100%에 가까운 납기 내 선적률을 달성하였습니다.
                                    </p>
                                    <p class="eng">Skyroad has established SOPs for all possible situations for the transport of every type of medical devices and suggests them to customers with mulitple solutions.</p>
                                </div>
                            </div>
                            <div class="cont_diff">
                                <div class="cont_img"><img src="~/Images/case_img06.png" /><span class="cont_num">06</span></div>
                                <div class="cont_desc">
                                    <h3 class="sub_title">의약품 운송</h3>
                                    <p>
                                        스카이로드의 바이오 운송 시스템은 최근 시약 운송에 대한 시대적인 요구에 부응하고 있습니다.<br />
                                        바이오 의약제품 운송을 위하여 자체 무진동 트러킹 시행, 인천공항 내 대형 냉동, 냉장창고 서비스 제공하고 있습니다.<br />
                                        @*GMP 규정에 완전히 부합하는 전문 시스템을 구축하였으며 국내 포워더로는 선두 주자로서 밸리데이션, 캘리브레이션까지 관리하는 완전한 서비스를 제공해드리고 있습니다.<br />*@
                                        GMP 규정에 부합하는 시스템을 구축하였으며 국내 포워더로는 선두 주자로서 밸리데이션, 캘리브레이션까지 관리하는 완전한 서비스를 제공합니다.<br />
                                        콜드체인 최적화된 운송을 위해 스위스 Block chain 기반 온도 모니터링 솔루션 제공 업체와 MOU 체결하면서 실시간 온도 모니터링을 Cloud로 공유하는 환경을 구축하였습니다.<br />
                                        스카이로드의 의약품 운송은 바이오 운송의 본질에 부합하는 철저한 SOP 기반의 서비스로 고객사들의 업무 효율화에 이바지합니다.
                                    </p>
                                    <p class="eng">Skyroad has established a specialized system that fully meets the GMP regulations and provides complete services that manage validation and calibration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- greeting_desc -->
            </div>
        </div>
        <!-- 여기 안에서 작업 -->
    </div>
    @if (strIndex != "")
    {
        <input type="hidden" name="Business_index" value="@strIndex" />
    }
    @Scripts.Render("~/Scripts/js/Business/Business.js")

}
