
@{
    ViewBag.Title = "Document";
    ViewBag.Sub = "BLDash";
}

@section Container {

    <section class="container dashboard" id="container">
        <div class="sub_visual">
            <h2 class="subtitle">B/L 대시보드</h2>
        </div>
        <div class="sub_cover">
            <div class="fixed_in type2">
                <div class="search_area">
                    <!-- search_bar -->
                    <div class="search_bar bl_dash">
                        <!-- inner -->
                        <div class="inner">
                            <div class="col w4">
                                <input type="radio" name="vehicle" id="vehicle01" checked="checked">
                                <label for="vehicle01" class="switch_label">해운</label>
                            </div>
                            <div class="col w4">
                                <input type="radio" name="vehicle" id="vehicle02">
                                <label for="vehicle02" class="switch_label">항공</label>
                            </div>
                            <div class="col w4">
                                <div class="int_box border-animation">
                                    <select class="select border-animation__inner" required="">
                                        <option value="" default="">Export</option>
                                        <option value="">Import</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col w4">
                                <div class="int_box border-animation">
                                    <select class="select border-animation__inner" required="">
                                        <option value="" default="">ETD</option>
                                        <option value="">ETA</option>
                                        <option value="">ETD~ETA</option>
                                    </select>
                                </div>
                            </div>
                            @*<div class="col w1">
                        <div class="int_box type1 border-animation">
                            <input type="text" value="" placeholder="House B/L No" class="border-animation__inner">
                            <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                        </div>
                    </div>*@
                            <div class="col w5">
                                <div class="int_box start_date border-animation">
                                    <input type="text" value="" placeholder="XXXX-XX-XX" class="date border-animation__inner">
                                    <button type="button" class="btns icon calendar"><i class="fa fa-calendar-check-o"></i><span class="blind">달력</span></button>
                                </div>
                            </div>
                            <span class="col"> ~ </span>
                            <div class="col w5">
                                <div class="int_box end_date border-animation">
                                    <input type="text" value="" placeholder="XXXX-XX-XX" class="date border-animation__inner">
                                    <button type="button" class="btns icon calendar"><i class="fa fa-calendar-check-o"></i><span class="blind">달력</span></button>
                                </div>
                            </div>
                            <div class="col w2">
                                <button type="submit" class="btn_type1 search"><span class="blind">검색</span></button>
                            </div>
                        </div>
                        <!-- //inner -->
                        <!-- inner -->
                        <div class="inner">
                            @*<div class="col w5">
                        <div class="int_box start_date border-animation">
                            <input type="text" value="" placeholder="XXXX-XX-XX" class="date border-animation__inner">
                            <button type="button" class="btns icon calendar"><i class="fa fa-calendar-check-o"></i><span class="blind">달력</span></button>
                        </div>
                    </div>
                    <span class="col"> ~ </span>
                    <div class="col w5">
                        <div class="int_box end_date border-animation">
                            <input type="text" value="" placeholder="XXXX-XX-XX" class="date border-animation__inner">
                            <button type="button" class="btns icon calendar"><i class="fa fa-calendar-check-o"></i><span class="blind">달력</span></button>
                        </div>
                    </div>*@
                            @*<div class="col w1">
                        <div class="int_box border-animation">
                            <input type="text" value="" placeholder="Departure" class="border-animation__inner">
                            <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                            <button type="button" class="btns icon down"><span class="blind">펼침</span></button>
                        </div>
                    </div>
                    <div class="col w1">
                        <div class="int_box border-animation">
                            <input type="text" value="" placeholder="Arrival" class="border-animation__inner">
                            <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                            <button type="button" class="btns icon down"><span class="blind">펼침</span></button>
                        </div>
                    </div>*@
                            <div class="col w1">
                                <div class="int_box border-animation">
                                    <input type="text" value="" placeholder="Departure" class="border-animation__inner">
                                    <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                                    <button type="button" class="btns icon down"><span class="blind">펼침</span></button>
                                </div>
                            </div>
                            <div class="col w1">
                                <div class="int_box border-animation">
                                    <input type="text" value="" placeholder="Arrival" class="border-animation__inner">
                                    <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                                    <button type="button" class="btns icon down"><span class="blind">펼침</span></button>
                                </div>
                            </div>
                            <div class="col w8">
                                <div class="int_box type1 border-animation">
                                    <input type="text" value="" placeholder="House B/L No" class="border-animation__inner">
                                    <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                                </div>
                            </div>
                            <div class="col w2 mo">
                                <button type="submit" class="btn_type1 search"><span class="blind">검색</span></button>
                            </div>
                        </div>
                        <!-- //inner -->
                    </div>
                    <!-- //search_bar -->
                </div>
                <!-- list_type1 -->
                <table class="list_type1 auto">
                    <colgroup class="column">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="head">
                        <tr class="row">
                            <th><button type="button">Export<br />Import</button></th>
                            <th><button type="button">House B/L</button></th>
                            <th><button type="button" class="desc">Departure</button></th>
                            <th><button type="button" class="desc">Arrival</button></th>
                            <th><button type="button">Consignee<br />Shipper</button></th>
                            <th><button type="button">Location</button></th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row" data-row="row_1">
                            <td>
                                <span class="trade import ship">Import</span>
                            </td>
                            <td>YJS201000002</td>
                            <td>
                                Busan, Korea<br>
                                2020.10.29 (목)
                            </td>
                            <td>
                                HO CHI MINH CITY, Vietnam<br>
                                2020.11.02 (월)
                            </td>
                            <td>T EXPRESS CO., LTD</td>
                            <td>
                                LOADING TO VESSEL
                            </td>
                            <td>
                                <div class="grid_fluid has_btn">
                                    <div class="grid_col"><button type="button" class="btn_type7 orange" onclick="layerPopup('#an_pop');">A/N</button></div>
                                    <div class="grid_col"><button type="button" class="btn_type7" onclick="layerPopup('#dashboard_pop');">상세</button></div>
                                </div>
                            </td>
                            <!-- mobile_layout -->
                            <td class="mobile_layout">
                                <div class="layout_type2">
                                    <div class="row s2">
                                        KMTC ULSAN 2022S
                                    </div>
                                    <div class="row s4">
                                        <div class="col"><span class="trade import ship">Import</span></div>
                                        <div class="col">YJS201000002</div>
                                    </div>
                                    <div class="row s3">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>Departure :</th>
                                                    <td>Busan, Korea<br> 2020.10.29 (목)</td>
                                                </tr>
                                                <tr>
                                                    <th>Arrival :</th>
                                                    <td>Ho Chi Minh City, Vietnam <br>2020.11.02 (월)</td>
                                                </tr>
                                                <tr>
                                                    <th>Consignee :</th>
                                                    <td>Yangjae Information<br> Technology Co., Ltd</td>
                                                </tr>
                                                <tr>
                                                    <th>Last Location :</th>
                                                    <td>Arrival At Discharging Port</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button type="button" class="btn_type1 detail" onclick="layerPopup('#dashboard_pop');">상세</button>
                                </div>
                            </td>
                            <!-- //mobile_layout -->
                        </tr>
                        <tr class="related_info" id="row_1">
                            <td colspan="8">
                                <ul class="etc_info">
                                    <li class="item">
                                        <em>반입지 :</em>
                                        인터지스7부두
                                    </li>
                                    <li class="item">
                                        <em>담당자</em>
                                        김성은 부장
                                    </li>
                                    <li class="item">
                                        <em>비고</em>
                                        출항 전 보고 제도 시행으로 인해 Closing 연장불가
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="row" data-row="row_2">
                            <td>
                                <span class="trade export ship">Export</span>
                            </td>
                            <td>YJS201000002</td>
                            <td>
                                Busan, Korea<br>
                                2020.10.29 (목)
                            </td>
                            <td>
                                HO CHI MINH CITY, Vietnam<br>
                                2020.11.02 (월)
                            </td>
                            <td>T EXPRESS CO., LTD</td>
                            <td>
                                LOADING TO VESSEL
                            </td>
                            <td>
                                <div class="grid_fluid has_btn">
                                    <div class="grid_col"><button type="button" class="btn_type7 orange" onclick="layerPopup('#bl_pop');">Check B/L</button></div>
                                    <div class="grid_col"><button type="button" class="btn_type7" onclick="layerPopup('#dashboard_pop');">상세</button></div>
                                </div>
                            </td>
                            <!-- mobile_layout -->
                            <td class="mobile_layout">
                                <div class="layout_type2">
                                    <div class="row s2">
                                        KMTC ULSAN 2022S
                                    </div>
                                    <div class="row s4">
                                        <div class="col"><span class="trade export ship">Export</span></div>
                                        <div class="col">YJS201000002</div>
                                    </div>
                                    <div class="row s3">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>Departure :</th>
                                                    <td>Busan, Korea<br> 2020.10.29 (목)</td>
                                                </tr>
                                                <tr>
                                                    <th>Arrival :</th>
                                                    <td>Ho Chi Minh City, Vietnam <br>2020.11.02 (월)</td>
                                                </tr>
                                                <tr>
                                                    <th>Consignee :</th>
                                                    <td>Yangjae Information<br> Technology Co., Ltd</td>
                                                </tr>
                                                <tr>
                                                    <th>Last Location :</th>
                                                    <td>Arrival At Discharging Port</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="grid_fluid has_btn">
                                        <div class="grid_col"><button type="button" class="btn_type7 orange" onclick="layerPopup('#bl_pop');">Check B/L</button></div>
                                        <div class="grid_col"><button type="button" class="btn_type7" onclick="layerPopup('#dashboard_pop');">상세</button></div>
                                    </div>
                                </div>
                            </td>
                            <!-- //mobile_layout -->
                        </tr>
                        <tr class="related_info" id="row_2">
                            <td colspan="8">
                                <ul class="etc_info">
                                    <li class="item">
                                        <em>반입지 :</em>
                                        인터지스7부두
                                    </li>
                                    <li class="item">
                                        <em>담당자</em>
                                        김성은 부장
                                    </li>
                                    <li class="item">
                                        <em>비고</em>
                                        출항 전 보고 제도 시행으로 인해 Closing 연장불가
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="row" data-row="row_3">
                            <td>
                                <span class="trade import airline">Import</span>
                            </td>
                            <td>YJS201000002</td>
                            <td>
                                Busan, Korea<br>
                                2020.10.29 (목)
                            </td>
                            <td>
                                HO CHI MINH CITY, Vietnam<br>
                                2020.11.02 (월)
                            </td>
                            <td>T EXPRESS CO., LTD</td>
                            <td>
                                LOADING TO VESSEL
                            </td>
                            <td>
                                <div class="grid_fluid has_btn">
                                    <div class="grid_col"><button type="button" class="btn_type7 orange" onclick="layerPopup('#an_pop');">A/N</button></div>
                                    <div class="grid_col"><button type="button" class="btn_type7" onclick="layerPopup('#dashboard_pop');">상세</button></div>
                                </div>
                            </td>
                            <!-- mobile_layout -->
                            <td class="mobile_layout">
                                <div class="layout_type2">
                                    <div class="row s2">
                                        KMTC ULSAN 2022S
                                    </div>
                                    <div class="row s4">
                                        <div class="col"><span class="trade export ship">Export</span></div>
                                        <div class="col">YJS201000002</div>
                                    </div>
                                    <div class="row s3">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>Departure :</th>
                                                    <td>Busan, Korea<br> 2020.10.29 (목)</td>
                                                </tr>
                                                <tr>
                                                    <th>Arrival :</th>
                                                    <td>Ho Chi Minh City, Vietnam <br>2020.11.02 (월)</td>
                                                </tr>
                                                <tr>
                                                    <th>Consignee :</th>
                                                    <td>Yangjae Information<br> Technology Co., Ltd</td>
                                                </tr>
                                                <tr>
                                                    <th>Last Location :</th>
                                                    <td>Arrival At Discharging Port</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="grid_fluid has_btn">
                                        <div class="grid_col"><button type="button" class="btn_type7 orange" onclick="layerPopup('#an_pop');">A/N</button></div>
                                        <div class="grid_col"><button type="button" class="btn_type7" onclick="layerPopup('#dashboard_pop');">상세</button></div>
                                    </div>
                                </div>
                            </td>
                            <!-- //mobile_layout -->
                        </tr>
                        <tr class="related_info" id="row_3">
                            <td colspan="8">
                                <ul class="etc_info">
                                    <li class="item">
                                        <em>반입지 :</em>
                                        인터지스7부두
                                    </li>
                                    <li class="item">
                                        <em>담당자</em>
                                        김성은 부장
                                    </li>
                                    <li class="item">
                                        <em>비고</em>
                                        출항 전 보고 제도 시행으로 인해 Closing 연장불가
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="row" data-row="row_4">
                            <td>
                                <span class="trade export airline">Export</span>
                            </td>
                            <td>YJS201000002</td>
                            <td>
                                Busan, Korea<br>
                                2020.10.29 (목)
                            </td>
                            <td>
                                HO CHI MINH CITY, Vietnam<br>
                                2020.11.02 (월)
                            </td>
                            <td>T EXPRESS CO., LTD</td>
                            <td>
                                LOADING TO VESSEL
                            </td>
                            <td>
                                <div class="grid_fluid has_btn">
                                    <div class="grid_col"><button type="button" class="btn_type7 orange" onclick="layerPopup('#bl_pop');">Check B/L</button></div>
                                    <div class="grid_col"><button type="button" class="btn_type7" onclick="layerPopup('#dashboard_pop');">상세</button></div>
                                </div>
                            </td>
                            <!-- mobile_layout -->
                            <td class="mobile_layout">
                                <div class="layout_type2">
                                    <div class="row s2">
                                        KMTC ULSAN 2022S
                                    </div>
                                    <div class="row s4">
                                        <div class="col"><span class="trade export ship">Export</span></div>
                                        <div class="col">YJS201000002</div>
                                    </div>
                                    <div class="row s3">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>Departure :</th>
                                                    <td>Busan, Korea<br> 2020.10.29 (목)</td>
                                                </tr>
                                                <tr>
                                                    <th>Arrival :</th>
                                                    <td>Ho Chi Minh City, Vietnam <br>2020.11.02 (월)</td>
                                                </tr>
                                                <tr>
                                                    <th>Consignee :</th>
                                                    <td>Yangjae Information<br> Technology Co., Ltd</td>
                                                </tr>
                                                <tr>
                                                    <th>Last Location :</th>
                                                    <td>Arrival At Discharging Port</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="grid_fluid has_btn">
                                        <div class="grid_col"><button type="button" class="btn_type7 orange" onclick="layerPopup('#bl_pop');">Check B/L</button></div>
                                        <div class="grid_col"><button type="button" class="btn_type7" onclick="layerPopup('#dashboard_pop');">상세</button></div>
                                    </div>
                                </div>
                            </td>
                            <!-- //mobile_layout -->
                        </tr>
                        <tr class="related_info" id="row_4">
                            <td colspan="8">
                                <ul class="etc_info">
                                    <li class="item">
                                        <em>반입지 :</em>
                                        인터지스7부두
                                    </li>
                                    <li class="item">
                                        <em>담당자</em>
                                        김성은 부장
                                    </li>
                                    <li class="item">
                                        <em>비고</em>
                                        출항 전 보고 제도 시행으로 인해 Closing 연장불가
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- //list_type1 -->
                <div class="center_area">
                    <button type="button" class="btn_type4"><span>더보기</span></button>
                </div>

                <!-- layer_zone -->
                <div class="layer_zone bl_pop" id="bl_pop">
                    <div class="layer_wrap">
                        <div class="layer_inwrap">
                            <article class="layer_cont">
                                <div class="layer_title2">
                                    <h1 class="tit">Check B/L 출력</h1>
                                </div>
                                <!-- bl_output -->
                                <div class="bl_output">
                                    <!-- col_left -->
                                    <div class="col_left">
                                        <div class="btn_area">
                                            <button type="button" class="btn_type5 red">출력</button>
                                            <button type="button" class="btn_type5">닫기</button>
                                        </div>
                                        <!-- output_area -->
                                        <div class="output_area">

                                        </div>
                                        <!-- //output_area -->
                                    </div>
                                    <!-- //col_left -->
                                    <!-- col_right -->
                                    <div class="col_right">
                                        <div class="tit_row">
                                            <h2 class="tit">수정요청사항</h2>
                                            <button type="submit" class="btn_type5 blue">저장</button>
                                        </div>
                                        <!-- edit_list -->
                                        <div class="edit_list">
                                            <div class="item">
                                                <h3 class="tit">1차 수정요청</h3>
                                                <input type="text" value="Shipper 정보가 잘못되었습니다.">
                                            </div>
                                            <div class="item">
                                                <h3 class="tit">2차 수정요청</h3>
                                                <input type="text" value="마트정보를 바꿔주세요.">
                                            </div>
                                        </div>
                                        <!-- //edit_list -->
                                    </div>
                                    <!-- //col_right -->
                                </div>
                                <!-- //bl_output -->
                                <button type="button" class="btns icon close type2 white" onclick="layerClose('#bl_pop');"><span class="blind">닫기</span></button>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- //layer_zone -->
                <!-- layer_zone -->
                <div class="layer_zone bl_pop" id="an_pop">
                    <div class="layer_wrap">
                        <div class="layer_inwrap">
                            <article class="layer_cont">
                                <div class="layer_title2">
                                    <h1 class="tit">A/N 출력</h1>
                                </div>
                                <!-- bl_output -->
                                <div class="bl_output">
                                    <!-- col_left -->
                                    <div class="col_left">
                                        <div class="btn_area">
                                            <button type="button" class="btn_type5 red">출력</button>
                                            <button type="button" class="btn_type5">닫기</button>
                                        </div>
                                        <!-- output_area -->
                                        <div class="output_area">

                                        </div>
                                        <!-- //output_area -->
                                    </div>
                                    <!-- //col_left -->
                                    <!-- col_right -->
                                    <div class="col_right">
                                        <div class="tit_row">
                                            <h2 class="tit">수정요청사항</h2>
                                            <button type="submit" class="btn_type5 blue">저장</button>
                                        </div>
                                        <!-- edit_list -->
                                        <div class="edit_list">
                                            <div class="item">
                                                <h3 class="tit">1차 수정요청</h3>
                                                <input type="text" value="Shipper 정보가 잘못되었습니다.">
                                            </div>
                                            <div class="item">
                                                <h3 class="tit">2차 수정요청</h3>
                                                <input type="text" value="마트정보를 바꿔주세요.">
                                            </div>
                                        </div>
                                        <!-- //edit_list -->
                                    </div>
                                    <!-- //col_right -->
                                </div>
                                <!-- //bl_output -->
                                <button type="button" class="btns icon close type2 white" onclick="layerClose('#an_pop');"><span class="blind">닫기</span></button>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- //layer_zone -->
                <!-- layer_zone -->
                <div class="layer_zone dashboard_pop" id="dashboard_pop">
                    <div class="layer_wrap">
                        <div class="layer_inwrap">
                            <article class="layer_cont">
                                <!-- delivery_info -->
                                <div class="delivery_info">
                                    <div class="col">
                                        <div class="grid_fluid">
                                            <div class="grid_col">
                                                <span class="tit">Master B/L Number</span>
                                                <strong class="number">MAEU9111951</strong>
                                            </div>
                                            <div class="grid_col">
                                                <span class="tit">House B/L Number</span>
                                                <strong class="number">MAKU4598977</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col w1">
                                        <ul class="info_list type1">
                                            <li>
                                                <div class="item hd"><em>Port of Loading :</em></div>
                                                <div class="item">Busan, Korea (Krpus)<br class="mo"> 2020-09-24</div>
                                            </li>
                                            <li>
                                                <div class="item hd"><em>Port of Discharging :</em></div>
                                                <div class="item">Gdansk, Poland (PLGDN)<br class="mo"> 2020-11-06</div>
                                            </li>
                                            <li>
                                                <div class="item hd"><em>Last location :</em></div>
                                                <div class="item">터미널 반입, Busan, Korea<br class="mo"> 2020-09-21</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- //delivery_info -->
                                <!-- dashboard_view -->
                                <div class="dashboard_view">
                                    <!-- left_area -->
                                    <div class="left_area">
                                        <div class="bl_box">
                                            <div class="frame_area"></div>
                                            <!-- frame_info -->
                                            <div class="frame_info">
                                                <span class="img"><img src="~/Images/tmp/img.png" alt=""></span>
                                                <div class="cont">
                                                    <table class="tbl_type1">
                                                        <tbody>
                                                            <tr>
                                                                <th>Carrier :</th>
                                                                <td>Sinokor</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Vessel :</th>
                                                                <td>KMTC SURABAYA 2011S</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Gross Weight :</th>
                                                                <td>1,425 kg</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Qty :</th>
                                                                <td>50 Cartons</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- //frame_info -->
                                        </div>
                                    </div>
                                    <!-- //left_area -->
                                    <!-- right_area -->
                                    <div class="right_area">
                                        <div class="bl_box">
                                            <select class="select" required="">
                                                <option value="" default="">Container Number List</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                            </select>
                                            <!-- timeline_area -->
                                            <div class="timeline_area">
                                                <div class="scrollbar">
                                                    <ul class="timeline_list">
                                                        <li class="on">
                                                            <div class="col">
                                                                <em class="tit">Location</em>
                                                                Hanjin<br>
                                                                Busan New Port<br>
                                                                Co. Ltd<br>
                                                                Busan, Korea
                                                            </div>
                                                            <div class="col">
                                                                <em class="tit">공 컨테이너 반출</em>
                                                                2020-09-16<br>
                                                                10:44
                                                            </div>
                                                        </li>
                                                        <li class="now">
                                                            <div class="col">
                                                                <em class="tit">Location</em>
                                                                Hanjin<br>
                                                                Busan New Port<br>
                                                                Co. Ltd<br>
                                                                Busan, Korea
                                                            </div>
                                                            <div class="col">
                                                                <em class="tit">터미널 반입</em>
                                                                2020-09-16<br>
                                                                10:44
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="col">
                                                                <em class="tit">Location</em>
                                                                Hanjin<br>
                                                                Busan New Port<br>
                                                                Co. Ltd<br>
                                                                Busan, Korea
                                                            </div>
                                                            <div class="col">
                                                                <em class="tit">선적</em>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="col">
                                                                <em class="tit">Location</em>
                                                                Busan, Korea
                                                            </div>
                                                            <div class="col">
                                                                <em class="tit">출항</em>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- //timeline_area -->
                                        </div>
                                    </div>
                                    <!-- //right_area -->
                                </div>
                                <!-- //dashboard_view -->
                                <button type="button" class="btns icon close type2" onclick="layerClose('#delivery_pop');"><span class="blind">검색 닫기</span></button>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- //layer_zone -->
            </div>
        </div>
    </section>
    @Scripts.Render("~/Scripts/js/Main/Main.js")
}