@charset "utf-8";

@import url('fonts.css');
@import url('slick.css');
@import url('reset.css');



@import url('layout.css');

@media all and (max-width:320px) {
	#footer .f_info address > span{margin:0 2px;}
}

@media all and (min-width:480px) and (max-width:767px) {/*사용자 해상도가 360px 이상이고 768px 이하일 때 이 코드가 실행됨. */
    .organ_w .branch02 .branch:before{right: 63%;}
	
	/*.greeting_cont:nth-child(2) .greeting_desc{padding-bottom: 100px; background: #e5f0f8 url(/Images/grt_sales02.png) no-repeat 50% calc(100% - 20px) / 100%;}*/
}

@media all and (max-width:767px) {
	.organ_w .division.last:before{top:-700%;left:50%;width:1px;height:700%;}
	.organ_w .branch02 .branch:before{display: none}

	.business_wrap .text {font-size:10pt !important}
}

@media all and (min-width:1025px) {
	.pc{display: block}
	.mo{display: none}
	
	.fix_pc{max-width: 1020px;margin: 0 auto;}
	
	.sched_wrap img{width: 108px;}
	
	#header{position: fixed; box-sizing:border-box;}
	#header .inner{max-width:1400px; height: 90px; margin:0 auto; padding:0 20px; text-align: left;}
	#header .logo{width:250px;}
	#header.sub{background-color: #fff;}
	
	.lnb{display:block;font-size:0;white-space: nowrap;position: absolute;top:50%;right:0;z-index:1;
		-webkit-transform: translate(0%, -50%);
	    -moz-transform: translate(0%, -50%);
	    -o-transform: translate(0%, -50%);
	    -ms-transform: translate(0%, -50%);
	    -sand-transform: translate(0%, -50%);
	    transform:translate(0%, -50%);
	}
	.lnb:after{display: block;content: '';clear: both;}
	.lnb > li{position: relative;display: inline-block}
	/*.lnb > li:after{position:absolute;top:50%;right:-2px;margin-top:-2px;display: block;content: '';width: 5px;height:5px;background-color: #fff;opacity: 0.3;border-radius: 100%}*/
	.lnb > li > a{display: block;font-size: 18px;font-weight: 400;color: #2c2929;padding: 0 20px; text-align:center; transition: padding 0.2s, color 0.1s;}
	.lnb > li > a > p span{position: relative; padding:0 3px; transition:all .3s ease;}
	.lnb > li > a > p span.prime{padding:0 8px; font-style:italic; font-weight:600;}
	.lnb > li.on > a > p span,
	.lnb > li:hover > a > p span{background:url(/Images/header_bg.png) no-repeat 50% 100%;}
	.lnb > li.on > a > p span.prime,
	.lnb > li:hover > a > p span.prime{background:url(/Images/header_bg02.png) no-repeat 50% 100%;}
	.lnb > li > a span.eng_header{display:block; font-size:12px; font-style:italic; transition:all .3s ease;}
	/*.lnb > li > a span:before{display: block;content: '';width: 100%;height:12px;padding:0 7px;background-color: rgba(0,104,183,0.3);position: absolute;bottom: 0px;left:50%;opacity: 0;transition: opacity 0.3s;*/ /*메뉴 hover 시 컬러 변경 (background-color)*/
		/*-webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -sand-transform: translateX(-50%);
	    transform:translateX(-50%);
	}*/
	.lnb > li:last-child:after{display: none}
	
	#header.active .inner{border-bottom-color: #dbdbdb}
	.lnb .depth{position: absolute;top:100%;width: 100%;z-index: 2;display: none;padding-bottom:20px}
	.lnb .depth .sub_in{padding-top: 80px;}
	.lnb .depth a{font-size: 15px;color: #838383;display: block;padding: 6px 0 7px;text-align: center}
	.lnb .depth li {padding-bottom:5px}
	.lnb .depth li:hover a{color: #005bac;font-weight: 800}
	#navi_bg{position: absolute;top: 0;width: 100%;height: 90px;background: #fff;display: none}
	
	/*#header.sub .lnb > li:hover > a,
	#header.sub .lnb > li.on > a,
	.lnb > li.on > a,
	#header.active .lnb > li:hover > a{color: #005bac !important;}*/
	.lnb > li.on > a span:before,
	.lnb > li:hover > a span:before{opacity: 1}
	#header.active .lnb > li > a,
	#header.sub .lnb > li > a{color: #2c2929}
	#header .lnb > li > a .prime,
	#header.active .lnb > li > a .prime,
	#header.sub .lnb > li > a .prime{color:#0068b7;}
	#header.sub .lnb > li:after{background-color: #2c2929}
	#header.active #hamberger,
	#header.sub #hamberger{border: 2px solid rgba(44,41,41,0.25)}

	/*twkim 메인 KOR/ENG 버튼 */
	#header.active #hamberger2,
	#header.sub #hamberger2{background: url(/Images/icn_lang.png) no-repeat 50% 50%;}

	#header.active #hamberger2 span{color:black}

	#header.active #hamberger .btn_total:before,
	#header.active #hamberger .btn_total:after,
	#header.sub #hamberger .btn_total,
	#header.sub #hamberger .btn_total:before,
	#header.sub #hamberger .btn_total:after{background-color: #2c2929}
	
	/*twkim 메인 KOR/ENG 버튼 */
	#header.active #hamberger2 .span:before,
	#header.active #hamberger2 .span:after,
	#header.sub #hamberger2 span,
	#header.sub #hamberger2 span:before,
	#header.sub #hamberger2 span:after{color: #2c2929}
	
	#hamberger{display:none; top: 21px;right:35px;width: 48px;height: 48px;border-radius: 100%;border: 2px solid rgba(255,255,255,0.25);box-sizing: border-box}
	#hamberger .btn_total{width: 16px;top: 14px;margin-left: -8px;}
	#hamberger .btn_total:before{top: 7px;width: 11px;margin-left: 5px;}
	#hamberger .btn_total:after{top: 14px;width: 16px;}
	
	#header.sub #hamberger.show .btn_total,
	#hamberger.show .btn_total{background:transparent;width: 22px;}
	#hamberger.show .btn_total:before{top:7px;width:16px;transform:rotate(45deg);margin-left: 0}
	#hamberger.show .btn_total:after{top:7px;transform:rotate(-45deg);}

	/*twkim 메인 KOR/ENG 버튼 */
	#hamberger2 {display: block;position: absolute;width: 48px;height: 48px;background:url(/Images/icn_lang_w.png) no-repeat 50% 50%; box-sizing: border-box;top: 21px;right: 0;}

	
	/* swiper */
	.swiper.skyroadSwiper{height:calc(100vh - 90px);}
	/* swiper */

	.section.part1{padding-top:90px;}

	.fnb_w .inner,
	#footer .copy .inner,
	#footer .f_info .inner,
	.location .inner,
	.contents,
	.fix_inner{
		max-width: 1400px;margin: 0 auto;}
	.fnb_w .inner,
	#footer_en .copy .inner,
	#footer_en .f_info .inner,
	.location .inner,
	.contents,
	.fix_inner{
		max-width: 1280px;margin: 0 auto;}

	.fnb,
	.fnb > li{position: relative;}
	.fnb:before,
	.fnb > li:before{display: block;content: '';width: 1px;height:19px;background-color: #dadada;position: absolute;right:0;top:50%;margin-top: -10px;}
	.fnb:before{left:0;}
	.fnb > li > a{font-size: 16px;padding: 40px 0 39px;}
	.fnb > li > a > span{padding-left: 52px;}
	
	/*.fnb > li > a > span:before{width: 36px;height:36px;margin-top: -18px;background-size: 106px 36px;;}
	.fnb > li:nth-child(2) > a > span:before {background-position: -36px 0;}
	.fnb > li:nth-child(3) > a > span:before {background-position: -72px 0;}*/
	.fnb > li > a > span:before{width: 43px;height:40px;margin-top: -18px;background-size: 144px 40px;}
	.fnb > li:nth-child(2) > a > span:before {background-position: -44px 0;}
	.fnb > li:nth-child(3) > a > span:before {background-position: -100px 0;}

	.fnb_image_area {line-height:100px}
	.fnb_image {width: 100px;} 
	
	/* footer */
	#footer .f_icons{position:absolute; top:20px; right:0;}
	#footer .f_icons .f_icon img{padding-bottom:0px;}

	#footer_en .copy{font-size: 13px;text-align: left}
	#footer_en .copy .inner{padding: 28px 0;}
	.f_info{padding: 20px}
	.f_info .inner:after{display: block;content: '';clear: both;}
	.f_info .col{float: left;width: 100%;}	
	.f_info .col.addr{width: 28%;}
	#footer_en .f_info .addr{padding: 2px 0 0;}
	#footer_en .menu{display: table;width: 100%;table-layout: fixed;position: relative;}
	#footer_en .menu > li{position:relative;display:table-cell;width: 33.333%;padding-left:39px;text-align: left;vertical-align:top;box-sizing: border-box;}
	#footer_en .menu:before,
	#footer_en .menu > li:before{display: block;content: '';width: 1px;height: 100%;background-color: #47494d;position: absolute;top:0;left:0;}
	#footer_en .menu:before{left: auto;right:0;}
	#footer_en .menu > li > a{padding-left:3px;font-size: 18px;color: #fff;display: block;margin-bottom: 11px;}
	#footer_en .menu .depth > li > a{font-size: 14px;color: rgba(255,255,255,0.5);display: block;padding: 3px 0;padding: 3px 0 2px;}
	
	#footer_en .f_info address{background-size: auto 20px;background-position: 100% 0}
	#footer_en .f_info address > span{display: block;text-align: right;font-size: 14px;margin-right: 0}
	#footer_en .f_info address .bar{color: #747474;margin: 0 5px;}
	#footer_en .f_info .item01{margin: 16px 0 0;}
	#footer_en .f_info .item03{margin-bottom: 0}
	#footer_en .f_info .item04{display: block}

	.top{display: block;}
	
	.mn_info .box .tit{font-size: 30px;}
	.mn_info .box p{font-size: 15px;}
	#mn_info .box.animate{-webkit-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 200ms; -moz-animation-delay: 200ms; -o-animation-delay: 200ms; animation-delay: 200ms;}
	.mn_info .inner{max-width:1400px; margin: 0 auto;}

	.container{padding-top:0; padding-bottom: 0;}
	.contents,
	.fix_inner{padding: 0 50px}
	
	.sub_visual{padding-top: 91px;}
	.sub_visual .inner{height:109px;background-image: url(/Images/cont/sub_visual01.jpg); background-position:80% 50%;}
	.sub_visual .inner p{font-size:40px;}
	.sub_visual .inner p span{display:block; font-size:20px; font-style:italic; font-weight:200;}
	.sub_visual#company .inner{background-image: url(/Images/cont/sub_visual01.jpg);}
	.sub_visual#business .inner{background-image: url(/Images/cont/sub_visual02.jpg);}
	.sub_visual#Customer .inner{background-image: url(/Images/cont/sub_visual03.jpg);}

	
	.subtitle{margin:37px 0 35px;font-size: 50pt;}/* twkim 20200707 60->30으로 폰트사이즈 변경 */
	.subtitle > span{padding-right: 22px;}
	
	.greeting_w{font-size: 16px;line-height: 1.65;padding: 37px 20px 30px 0px;}
	.greeting_w > p,
	.greeting_w.part2 p{margin-bottom: 26px;font-size: 15pt;}
	.greeting_w .point{font-size: 50px;line-height: 1.3;margin-bottom: 30px;}
	.greeting_w.part2{background-image: url(/Images/cont/greeting_watermark_m.png)}
	.greeting_w.part2 .fix_inner{padding:100px;}
	.greeting_w .author{padding: 17px 25px;right:130px;bottom:0px;}
	.greeting_w p .p_point {font-size:30px}

	.greeting_w .greeting_image_area {width:25%;}
	.greeting_w .greeting_image {width:80%}
	.greeting_w span {margin-top:20px}
	.greeting_w .greeting_content_area {float:left;width:100%;padding-left:20px}
	.greeting_w .greeting_content_area p {font-size:14pt}
	
	.tel{margin-left:6px;font-size: 16px;padding:6px 14px 6px 33px;background: #007a41 url(/Images/cont/icn_tel.png) no-repeat 14px 50%;}
	
	.tbl_type01{border-radius: 14px;}
	.tbl_type01 > table{table-layout: fixed;}
	.tbl_type01 > table thead.pc{display: table-header-group}
	.tbl_type01 > table colgroup.pc{display: table-column-group}
	.tbl_type01 > table col.pc{display: table-column}
	.tbl_type01 > table th.pc{display: table-cell}
	.tbl_type01 > table th,
	.tbl_type01 > table td{font-size: 18px;}
	.tbl_type01 > table thead th{height: 60px;}
	.tbl_type01 > table.d_left td,
	.tbl_type01 > table td{padding: 20px 28px;height:20px;}
	.tbl_type01 .tit02{padding-left: 20px;}
	.tbl_type01 .w1{width: 12%}
	.tbl_type01 > table.center td{padding: 20px 5px;}
	
	.mb01{margin-bottom: 77px;}
	.mb02{margin-bottom: 30px;}
	
	.div_type01{border-radius: 14px;}
	.div_type01 .row .col{font-size: 16px;width: 50%}
	.div_type01 .cell{padding: 20px 28px;}
	.div_type01 .row:last-child .col:first-child{border-bottom: 0}

	/* [HEUNG-A] TWKIM / 20200625 / Table for CustomerVoice */
	.div_type02{border-radius: 14px;}
	.div_type02 .row .col{font-size: 16px;width: 100%}
	.div_type02 .cell{padding: 20px 28px;}
	.div_type02 .row:last-child .col:first-child{border-bottom: 0}
	
	.company_w{padding: 22px 0 121px;}
	.contact_w{padding: 22px 0 0;}
	
	.company_logo{height:16px;margin-left: 15px;}
	
	.company_w.part2{padding: 84px 0 77px;margin-top:80px;margin-bottom:50px;}
	.company_w.part2 .title01{display: block;}
	
	.history_list{margin-top: -65px;}
	.history_list > li{margin-bottom: 1px;position: relative;font-size: 16px;}
	.history_list > li:before{width: 5px;height:5px;top:10px;margin-left:-2px;}
	.history_list > li .year{font-size: 20px;margin-bottom: 3px;}
	.history_list > li:nth-child(odd) .year,
	.history_list > li:nth-child(odd) p{margin-left: 23px;}
	.history_list > li:nth-child(even) .year,
	.history_list > li:nth-child(even) p{margin-right: 23px;}
	.history_line,
	.history_line:before,
	.history_line:after,
	.history_line .circle{position: absolute;left:50%;top:-46px;
		-webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -sand-transform: translateX(-50%);
	    transform:translateX(-50%);
	}
	.history_line .circle:last-child,
	.history_line:after{top: auto;bottom: -46px;}
	.history_line:before,
	.history_line:after,
	.history_line .circle{height:46px;}
	.history_line .circle{width: 11px;height:11px;}
	.history_line{top:0;width: 1px;height:100%;background-color: rgba(233,233,233,0.15);}
	
	.philosophy_w{padding-top: 24px;}
	.philosophy_w .title{font-size: 28px;margin-bottom: 47px;}
	.philosophy_cont{margin:0;padding:0;padding-bottom: 60px;margin-top: 49px;background: url(/Images/cont/philosophy_bg.png) no-repeat 50% 0;display: table;width: 100%;}
	.philosophy_cont .col{display: table-cell;width: 50%;padding-top: 29px;font-size: 16px;text-align: left;line-height: 1.65;}
	.philosophy_cont .col p{margin-bottom: 26px;}
	.philosophy_cont .col:first-child{padding-right: 45px;}
	.philosophy_cont .col:last-child{padding-left: 45px;}
	
	#tab > li > a{height:60px;font-size: 16px;}
	.tab01{margin-bottom: 30px;}
	.tab02{margin-bottom: 10px;}
	.tab02 #tab li{width: 16.666%;margin-bottom: 10px;}
	.tab02 #tab li a{line-height: 1.3}
	
	.title01{margin-bottom: 24px;font-size: 20px;} /* twkim 20200707 28->20으로 폰트사이즈 변경 */
	
	.organ_w{padding-bottom:0;padding-top:43px;position:relative;background: url(/Images/cont/organ_bg.png) no-repeat right 18.5% top 579px;}
	.organ_w .branch{padding:17px 0;width:194px;font-size:16px;margin:0 auto 81px;border: 3px solid #3e537c;}
	.organ_w .branch02 .branch{margin-bottom: 81px}
	.organ_w .organ_depth .company > strong{margin-bottom: 80px;}
	.organ_w .organ_depth .company img{height: 166px;}
	.organ_w .organ_dep01{padding-right: 0;}
	.organ_w .organ_dep01 > li.branch01 .organ_dep02{width: 71.43%;}
	.organ_w .organ_dep01 > li.branch02{width: 28.57%;}

	.organ_w .organ_dep02 > li{padding:0 10px;}
	.organ_w .branch02 .organ_dep02 > li{width: 50%}
	.organ_w .division{padding:20px 0;font-size: 16px;}
	.organ_w .organ_dep02 > li.center{margin:75px 0 0 0;border:1px solid #dbdbdb;border-radius:5px;}
	.organ_w .organ_dep02 > li.center > a{margin:0;padding:18px 0;background-color:#dbdbdb;color:#333;}
	.organ_w .organ_dep02 > li.center > a:before{top:-120px;height:120px;}/* 연수원 상단 line */

	.organ_w .organ_dep03{border-radius:0 0 15px 15px;margin: 0 10px}/*top, right, bottom, left*/
	.organ_w .organ_dep03 > li{border-bottom: 1px solid #e9e9e9}
	.organ_w .organ_dep03 > li:last-child{border-bottom: 0}
	.organ_w .organ_dep03 > li > span{padding:21px 0;font-size: 14px;}
	
	.organ_w .organ_dep04{padding:9px 0 7px;}
	.organ_w .organ_dep04 > li{padding: 11px 0 12px;font-size: 14px;}

	/* 조직도 line */
	.organ_w .organ_depth > .company > strong:before,
	.organ_w .branch01 .branch:before,
	.organ_w .branch:before{top:100%;}
	.organ_w .branch01:before{top:29px;right:100px;width:50%;}
	.organ_w .organ_depth > .company > strong:before{left:50%;height:100%;display: block;}
	.organ_w .branch01 .branch:before,
	.organ_w .branch02 .branch:before,
	.organ_w .branch:before{left:50%;height:82%;margin-left: 0;right: auto}
	.organ_w .division:before{top:-41px;left:50%;height:100%;}
	
	.organ_w .organ_dep02:before{top:-41px;left:50%;width:81.7%;transform:translateX(-50%);-ms-transform:translateX(-50%);}/* 상단 line */
	.organ_w .organ_dep02:before{width:calc(80%);}
	.organ_w .branch02 .organ_dep02:before{width:calc(50%);}
	
	.organ_w .branch02{text-align: left}
	.organ_w .branch02 .branch{display: block}
	
	.wb_box01{margin-top: 35px;margin-bottom: 81px;padding:20px 40px 40px;background: #767b45 url(/Images/cont/warehouse_bg01.png) no-repeat 50% 0 / cover;}
	.wb_box01 .box{margin-top:0;padding: 18px 22px;font-size: 16px;line-height: 1.62}
	
	.tbl_type02 th,
	.tbl_type02 td{padding:17px 0;font-size: 16px;}
	.tbl_type02 th{padding-right: 34px;}
	
	.wb_box02{padding:101px 0 80px;background-image: url(/Images/cont/warehouse_bg02.png)}
	.wh_list .item{width: 50%;}
	.wh_list .item{margin-bottom: 20px}
	.wh_list .item .inner{display: table;width: 100%;height: 100%;}
	.wh_list .item .tit,
	.wh_list .item .cell{display: table-cell;vertical-align: middle;font-size: 16px;}
	.wh_list .item .tit{width:30%;height: 122px;padding: 0}
	.wh_list .item .cell{margin-top:0;padding:0 20px;border: 0}
	.wh_list .item .cell li{padding-left: 10px;text-indent: -10px;}
	
	.wb_box03{padding-top: 64px;padding-left: 185px;}
	.wb_box03 .title01{position: absolute;top:66px;left:0;}
	
	.transport_w{padding: 177px 0 167px; background-image: url(/Images/cont/transport_bg.png)}
	.transport_box{width: 442px;height:442px;padding:21px;}
	.transport_box .title > strong{font-size: 24px;}
	.transport_box .item{width: 196px;height:196px;}
	.transport_box .item .tit{font-size: 16px;}
	.transport_box .item.no01,
	.transport_box .item.no03{top: -98px;}
	.transport_box .item.no03{top: auto;bottom: -90px;}
	.transport_box .item.no02,
	.transport_box .item.no04{right:-98px;}
	.transport_box .item.no04{right: auto;left: -98px;}
	.transport_box .list_box{position: absolute;text-align:left;top: 12px;left:-372px;width: auto}
	.transport_box .list_box li{font-size: 16px;padding-left: 10px;text-indent: -10px;}
	.transport_box .item.no02 .list_box{left: 50%;top:140%;width: 300px;margin-left: -10px;right:auto}
	
	.transport_box .item.no01 .tit:before{display: none}
	.transport_box .item .tit > em:before,
	.transport_box .item .tit > em:after,
	.transport_box .item .bul:before,
	.transport_box .item .bul:after{position:absolute;top:50%;left:-16px;display: block;content: '';width: 7px;height:7px;background-color: #4896be;border-radius: 100%;
		-webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -sand-transform: translateY(-50%);
	    transform:translateY(-50%);
	}
	.transport_box .item .tit > em:before{left:-68px;width: 53px;height: 1px;}
	.transport_box .item .bul:before,
	.transport_box .item .bul:after{left: -180px;background-color: #fff;}
	.transport_box .item .bul:before{left:-176px;width: 108px;height: 1px;}

	.transport_box .item.no02 .bul:before,
	.transport_box .item.no02 .bul:after,
	.transport_box .item.no02 .tit > em:before,
	.transport_box .item.no02 .tit > em:after{left: 50%;top:auto;bottom:-12px;
		-webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -sand-transform: translateX(-50%);
	    transform:translateX(-50%);
	}
	.transport_box .item.no02 .bul:before,
	.transport_box .item.no02 .tit > em:before{width: 1px;height: 77px;bottom: -89px;}
	.transport_box .item.no02 .bul:before{bottom: -166px;}
	.transport_box .item.no02 .bul:after{bottom: -166px;}

	.logistics_w{padding:6px 0 0;font-size: 16px;}
	.logistics_w > p{margin-bottom: 26px}
	.logistics_box01{margin: 65px 0 63px;padding: 90px 0 77px;}
	.logistics_list > li{width: 16.666%;margin-bottom: 0;}
	.logistics_list > li .tit{font-size: 16px;margin-top: 13px;}
	
	.logistics_w .homepage{text-align: left;padding:0 250px 0 0;margin-top: 85px;border: 0;font-size: 16px}
	.logistics_w .homepage > span{padding-right: 10px;display: inline-block;letter-spacing: 0;}
	.logistics_w .homepage:before{display: block;}
	.logistics_w .homepage .btns{position: absolute;top:50%;right:0;z-index: 1;margin-top:0;
		-webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -sand-transform: translateY(-50%);
	    transform:translateY(-50%);
	}
	
	.btns.cobalt{font-size: 15px;width: 102px;line-height: 50px;}
	.btns.round{font-size: 13px;padding: 15px 25px 14px;}
	.btns.round .go{padding-right:25px;background-size:12px 10px;}
	
	.sel{width:117px; height:40px;padding:0 35px 0 19px;font-size:15px;}
	/*:root .sel{background-size: 29px 14px}*/
	
	.int{height: 50px;padding: 0 16px;font-size: 15px;}
	
	.search_form{margin-bottom: 40px;padding-top: 16px;}
	
	.btn_search{font-size: 15px;height:50px;width:102px;}
	.btn_search > span{padding-right:23px;background-size: 13px 13px;}
	
	.board_list > table thead th,
	.board_list > table td{height:60px;font-size: 16px;}
	.board_list > table thead th:first-of-type{border-top-left-radius:18px;}
	.board_list > table thead th:last-of-type{border-top-right-radius:18px;}
	.board_list > table .icn_notice{width: 9px;height:10px;}
	.board_list .w1{width: 10%}
	.board_list .w2{width: 10%}
	.board_list .w3{width: 20%}
	.board_list .w4{width: 12%}

	.base_paging{margin-top:30px;}
	.base_paging .number{padding: 0 15px;}
	.base_paging a.page{width:31px;height:31px;background-size: auto 31px;margin: 0 3px;}
	.base_paging a.page.prev{background-position: -31px 0}
	.base_paging a.page.next{background-position: -62px 0}
	.base_paging a.page.last{background-position: -93px 0}
	.base_paging .number a,
	.base_paging .number .on{min-width:31px;line-height:31px;font-size:15px;}
	
	.board_view .title_row{display: table;width: 100%;table-layout: auto;}
	.board_view .title_row .col{display: table-cell;height: 87px;vertical-align: middle}
	.board_view .title_row .col.etc{width: 10%;white-space:nowrap;font-size: 16px;padding-bottom: 0}
	.board_view .title_row .title{font-size: 28px;padding:0;padding-left: 29px}
	.board_view .title_row .col.etc span{margin-right: 40px;}
	.board_view .cont_row{font-size: 16px;line-height: 1.9;padding: 24px 29px;}
	
	.btn_center{padding-top: 20px}
	
	table.basic_tb{margin-top:60px;}
	table.basic_tb th,
	table.basic_tb td{height:61px;}
	table.basic_tb th,
	table.basic_tb td a{font-size: 16px;}
	table.basic_tb th span{padding: 0 19px;}
	table.basic_tb .up_bul,
	table.basic_tb .down_bul{background-size: 9px 10px;}
	table.basic_tb .w1{width: 120px;}
	table.basic_tb td{padding-left: 10px;}
	
	.terms_box{font-size: 14px;}
	.terms_box h2{font-size: 15px;}
	.terms_box > p,
	.terms_box .grp{margin-bottom: 12px;}
	.terms_box .grp > p,
	.terms_box .grp > ol,
	.terms_box .grp > .info{margin-bottom: 7px;}
	.list02 > li ol,
	.list02 > li ul{font-size: 13px;}
	
	/* twkim - logo 수정 */	
	.header_logo_area {height:90px; left:2%;transform:translate(0%,0%)}
	#header .logo > a, #header .nav_logo{display: block;width:208px; height:100%;background: url(/Images/logo.png) no-repeat 50% 50% / 208px 27px; transition:all .3s ease;}
	#header .logo2 > a, #header .nav_logo{display: block;margin-top:5px;width: 210px;height: 39px;background: url(/Images/logo_w_en.png) no-repeat 50% 50% / 210px 35px;}

	/* twkim - 가치 및 연혁 pc버전 */
	/* twkim 추가 - 모바일 버전은 없어서 잠시 PC버전 용 layout으로 설정 (추후 medie로 뺴야됨*/
	.valuable_wrap {height:600px;margin-bottom:40px;padding: 0;background: none;}
	.valuable_wrap .valuable_area {position:relative;width:100%;height:100%;background-color:blue;display:table;background: url(/Images/cont/value6.png) no-repeat 50% 50% / cover;}
	.valuable_wrap .valuable_area .text_area {position: absolute;top: 39%;left: 10%;}
	.valuable_wrap .valuable_area .text_area .text1 {color: #f2f2f2  ;font-size: 40pt;}
	.valuable_wrap .valuable_area .text_area .text2 {color: beige;font-size: 18pt;font-weight: bold;}
	.valuable_wrap .valuable_area .text_area .text3 {color: darkslateblue;font-size: 30pt;font-weight: bold;}
	.valuable_wrap .valuable_area .table_area {display:table-cell;vertical-align:middle;padding: 5% 0 5% 50%;}
	.valuable_wrap .valuable_area .table_area strong {color:#9AD5BF;font-size: 30pt;}
	.valuable_wrap .valuable_area .table_area p {padding: 20px 0;color: #f2f2f2;font-size: 18px;margin-bottom: 0;}
	.valuable_wrap .valuable_area .table_area p:first-child {line-height: 30px;}

	/* twkim 회사소개 - 사인 로고가 커서 강제로 줄임*/
	.greeting_w .author img {height:100%;padding-left:15px} 

	/* twkim - Service 페이지 추가 */
	.business_wrap .grp .text_area{float:right;width: 40%;}
	.business_wrap .grp .tbl_area{float:right;width: 60%;}
	.business_wrap .grp .text_area{padding-top:0;text-align: right;}
	.business_wrap .grp .tbl_area img{}
	.business_wrap .grp:after,
	.business_wrap .grp.item06 .text_area:after{display: block;content: '';clear: both}

	.business_wrap .item01 .tbl_area {width:50%;height:430px;margin:0 5%;background:url(/Images/cont/service1.png) no-repeat 50% 50% / cover}
	.business_wrap .item02 .tbl_area {width:50%;height:430px;margin:0 5%;background:url(/Images/cont/service2.png) no-repeat 50% 50% / cover}
	.business_wrap .item03 .tbl_area {width:50%;height:430px;margin:0 5%;background:url(/Images/cont/service3.png) no-repeat 50% 50% / cover}
	.business_wrap .item04 .tbl_area {width:50%;height:430px;margin:0 5%;background:url(/Images/cont/service4.png) no-repeat 50% 50% / cover}
	.business_wrap .item05 .tbl_area {width:50%;height:430px;margin:0 5%;background:url(/Images/cont/service5.png) no-repeat 50% 50% / cover}
	.business_wrap .item06 .tbl_area {width:50%;height:430px;margin:0 5%;background:url(/Images/cont/service6.png) no-repeat 50% 50% / cover}	
	.business_wrap .item02 .tbl_area,
	.business_wrap .item04 .tbl_area,
	.business_wrap .item06 .tbl_area{float:left;}
	.business_wrap .item02 .text_area,
	.business_wrap .item04 .text_area,
	.business_wrap .item06 .text_area{text-align: left;}	
	.business_wrap .title{font-size: 50px;margin-bottom: 20px;}
	.business_wrap .eng_title{font-size: 40px;margin-bottom: 20px;}
	.business_wrap .text{font-size: 18px;line-height: 25pt;}
	.business_wrap .text .point{font-size: 25px;margin-top: 3px;}
	.business_wrap .tbl{border-top-width: 3px}
	.business_wrap .tbl th, 
	.business_wrap .tbl td{height: 60px;font-size: 14px;}
	.business_wrap .tbl .sm{font-size: 12px}	
	.business_wrap .tbl img:not(.flag){max-width: 160px;width: 100%}	
	.business_wrap .link_box{font-size: 20px;}
	.business_wrap .link_box a{font-size: 25px;background-size: 28px 28px;padding-right: 42px;}
	.business_wrap .link_box p{margin-bottom: 6px;}

	/*TWKIM / 20200403 / Partner Page */
	.main-tab-index li a {font-size:12pt}
	.tbl_type03 > table th {font-size: 18px;}
	.tbl_type03 > table td {height: 15px;padding: 15px;text-align: left;color: #2c2929;font-size: 18px;}
	    
	.notice_serach_input {width:210px}
	
	/*[HEUNG-A] TWKIM / 20200610 / Main OurBussiness */	
	.OurBusiness_Title_Area {height:70px;}
	.OurBusiness_Title_Area .OurBusiness_Title strong {font-size: 30pt;}

	.OurBusiness .OurBusiness_TextArea .OurBusiness_TableCell .title{font-size:35px; font-weight:700;}
	.OurBusiness .OurBusiness_TextArea .OurBusiness_TableCell .content{margin-bottom:35px; font-size:14pt; font-weight:400; line-height:25pt; letter-spacing:-0.06em;}
	.OurBusiness .OurBusiness_TextArea .OurBusiness_TableCell .OurBusiness_Btn_Area .OurBusiness_Btn{padding:10px 30px;}

	.OurBusiness:nth-child(odd) .OurBusiness_ImageArea,
	.OurBusiness:nth-child(odd) .OurBusiness_TextArea {float: left;width: 50%;height: 300px;margin: 0;}

	.OurBusiness:nth-child(even) .OurBusiness_ImageArea,
	.OurBusiness:nth-child(even) .OurBusiness_TextArea {float: right;width: 50%;height: 300px;margin: 0;}

	.OurBusiness:after {display: block;content: '';clear: both;}

	/* [HEUNG-A] TWKIM / 20200612 / SeaInout */
	.SeaInout_wrap {}
	.SeaInout_wrap .SeaInout_Area {max-width:800px;text-align:left;margin-bottom:0}	
	.SeaInout_wrap .SeaInout_Area:after {display: block;content: '';clear: both;}
	.SeaInout_wrap .SeaInout_Area .SeaInout_title {font-size:18pt;}
	.SeaInout_wrap .SeaInout_Area .SeaInout_content {}
	.SeaInout_wrap .SeaInout_Area .SeaInout_content li {font-size:13pt}

	/* [HEUNG-A] TWKIM / 20200612 / SeaAgency */
	.SeaAgency_item01 {float:left;width:calc(33% - 20px);margin-right:20px}
	.SeaAgency_item01 .SeaAgency_ContentArea {}
	.SeaAgency_item01 .SeaAgency_Table_Area {display:table}
	.SeaAgency_item01 .SeaAgency_ContentArea .SeaAgency_tit {font-size: 25pt;}
	.SeaAgency_item01 .SeaAgency_ContentArea .SeaAgency_tit img {height: 50px;}
	.SeaAgency_item01 .SeaAgency_ContentArea .SeaAgency_Content {width: 60%;display: table-cell;vertical-align: middle;font-size: 12pt;line-height: 30px;}
	.SeaAgency_item01 .SeaAgency_ContentArea .SeaAgency_ImageArea {width: 95%;padding:2.5%}
	.SeaAgency_item01 .SeaAgency_ContentArea .SeaAgency_ImageArea img {}

	.SeaAgency_item02 {float:left;width:calc(33% - 20px);margin-right:20px}
	.SeaAgency_item02 .SeaAgency_ContentArea {}
	.SeaAgency_item02 .SeaAgency_Table_Area {display:table}
	.SeaAgency_item02 .SeaAgency_ContentArea .SeaAgency_tit {font-size: 25pt;}
	.SeaAgency_item02 .SeaAgency_ContentArea .SeaAgency_Content {width: 60%;display: table-cell;vertical-align: middle;font-size: 12pt;line-height: 30px;}
	.SeaAgency_item02 .SeaAgency_ContentArea .SeaAgency_ImageArea {width: 95%;padding:2.5%}
	.SeaAgency_item02 .SeaAgency_ContentArea .SeaAgency_ImageArea img {}

	.SeaAgency_item03 {float:left;width:calc(33% - 20px);}
	.SeaAgency_item03 .SeaAgency_ContentArea {}
	.SeaAgency_item03 .SeaAgency_Table_Area {display:table}
	.SeaAgency_item03 .SeaAgency_ContentArea .SeaAgency_tit {font-size: 25pt;}
	.SeaAgency_item03 .SeaAgency_ContentArea .SeaAgency_Content {width: 60%;display: table-cell;vertical-align: middle;font-size: 12pt;line-height: 30px;}
	.SeaAgency_item03 .SeaAgency_ContentArea .SeaAgency_ImageArea {width: 95%;padding:2.5%}
	.SeaAgency_item03 .SeaAgency_ContentArea .SeaAgency_ImageArea img {}

	.SeaAgency_item03:after {display: block;content: '';clear: both;}

	/* [HEUNG-A] TWKIM / 20200615 / AirInout */		
	.AirInout_w{font-size: 16px;line-height: 1.65;padding:60px 0px;}
	.AirInout_w .AirInout_Area {width:100%;max-width:800px;}
	.AirInout_w .AirInout_Area .AirInout_title {padding-bottom:15px;margin-bottom:15px;}
	.AirInout_w .AirInout_Area p{margin-bottom: 26px;font-size: 12pt;}
	.AirInout_w .AirInout_Area .AirInout_Content {line-height:30px}
	.AirInout_w .AirInout_Area .AirInout_Content li {font-size: 13pt;}
	.AirInout_w .AirInout_Area .point{font-size: 28px;line-height: 1.3;margin-bottom: 30px;}

	/* [HANSAENG] 20200811 조직도  */	
	.contact_Area {width:100%;} 
	.contact_Area:after {display: block;content: '';clear: both;}
	.contact_Area .contact_Content_Area {float:left;width:30%;}
	.contact_Area .contact_Table_Area {display:table;float:left;width:40%;height:100%;}
	.contact_Area .contact_Table_Area .contact_TableCell_Area {display:table-cell;vertical-align:middle;text-align: center;padding-top:50px;}
	.contact_Area .contact_Table_Area .contact_TableCell_Area img {width:60%;}
	.contact_Area .contact_Content_Area:after {display: block;content: '';clear: both;}

	.contact_division01 {width:100%;position:relative;text-align:center;}	
	.contact_division01:before {position: absolute;width: 1px;height: 315px; top:22%;left: 115%;background: #d9d9d9;content: '';}
	.contact_division01 li:nth-child(1):after {position: absolute;left: 99.5%;margin-left: -1px;width: 16%;top: 22%;height: 1px;background: #d9d9d9;content: '';}
	.contact_division01 li:nth-child(2):after {position: absolute;left: 99.5%;margin-left: -1px;width: 27%;top: 56%;height: 1px;background: #d9d9d9;content: '';}
	.contact_division01 li:nth-child(3):after {position: absolute;left: 99.5%;margin-left: -1px;width: 16%;top: 91%;height: 1px;background: #d9d9d9;content: '';}
	.contact_division02 {width:100%;position:relative;text-align:center;}	
	.contact_division02:before {position: absolute;width: 1px;height: 315px; top:22%;right: 115%;background: #d9d9d9;content: '';}
	/*.contact_division02 li:before {position:absolute;top:-100px;left:50%;margin-left:-1px;width:1px;height:100px;background:#d9d9d9;content:'';}*/
	.contact_division02 li:nth-child(1):after {position: absolute;right: 99.5%;margin-left: -1px;width: 16%;top: 22%;height: 1px;background: #d9d9d9;content: '';}
	.contact_division02 li:nth-child(2):after {position: absolute;right: 99.5%;margin-left: -1px;width: 27%;top: 56%;height: 1px;background: #d9d9d9;content: '';}
	.contact_division02 li:nth-child(3):after {position: absolute;right: 99.5%;margin-left: -1px;width: 16%;top: 91%;height: 1px;background: #d9d9d9;content: '';}
	/*.contact_division02 li {position:relative;float:left;width:25%}	
	.contact_division02 li:after{clear:both}*/
	.contact_title_Area {margin-bottom:15px;}	
	.contact_title_Area .contact_title {display:block;width:90%;height:50px;text-align:center;color:#fff;font-weight:500;background-color:#005bac;border-radius:30px;letter-spacing:-0.04em;margin:0 auto;line-height: 50px;}

	.contact_content_Area {width:90%;height:80px;position:relative;z-index:1;font-size:1.25rem;color:#000;font-weight:500;background-color:#d3e7f2;border-radius:30px;letter-spacing:-0.04em;margin:0 auto 10px auto;}
	.contact_content_Area .contact_content_table {display:table;width:100%;height:80px;vertical-align:middle;text-align:center}
	.contact_content_Area .contact_content_table .contact_content_tablecell {display:table-cell;vertical-align:middle;padding: 0 10px;}
	.contact_content_Area .contact_content_table .contact_content_tablecell .contact_content_tel {font-size:12pt;word-break:break-all;}
	.contact_content_Area .contact_content_table .contact_content_tablecell .contact_content_fax {font-size:12pt;word-break:break-all;}

	/* E-demo Layer Popup */
	.layer_wrap_edemo{max-width: 1280px;margin-left: 0;
		-webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -sand-transform: translateX(-50%);
	    transform: translateX(-50%);
	}
	.layer_wrap_policy {width:70%}
	.layer_wrap_edemo .layer_tit_edemo{min-height:60px;padding: 16px 30px 17px;}
	.layer_wrap_edemo .layer_tit_edemo .tit_edemo{font-size: 18px;}
	.layer_wrap_edemo .close_edemo{width: 60px;height:60px;right:10px; top:-60px;}
	.layer_wrap_edemo .close_edemo:before, 
	.layer_wrap_edemo .close_edemo:after{height: 28px;top: 15px;left: 30px;}

	/* [HEUNG-A] TWKIM / 20200619 / Layer_Popup Management_Policy */
	.Management_Policy_area {padding:30px}
	.Management_Policy_area .Managemnet_Policy_title {text-align:center;font-size:25pt;margin-bottom:30px}	

	/* [HEUNG-A] TWKIM / 20200619 / Greeting */
	.greeting_watermark {background: url(/Images/cont/greeting_watermark.png) no-repeat 50% 50% / cover;overflow: hidden;}
	.layer_btnarea {margin-top:50px}
	.layer_btnarea .layer_Btn {padding:10px 30px;}

	/* [HEUNG-A] TWKIM / 20200625 / Sub_silder */
	.slide_area {height:600px;margin-bottom:30px;}

	/* [HEUNG-A] TWKIM / 20200625 / CustomerVoice */
	.customer_btn {width: 200px;height: 60px;line-height: 60px;font-size: 15px;}

	/* [HEUNG-A] TWKIM / 20200625 / history */
	.history_w {padding:20px 0 50px}
	
	.tbl_type04{border-radius: 14px;}
	.tbl_type04 > table{table-layout: fixed;}
	.tbl_type04 > table thead.pc{display: table-header-group}
	.tbl_type04 > table colgroup.pc{display: table-column-group}
	.tbl_type04 > table col.pc{display: table-column}
	.tbl_type04 > table th.pc{display: table-cell}
	.tbl_type04 > table th,
	.tbl_type04 > table td{font-size: 18px;}
	.tbl_type04 > table thead th{height: 60px;}
	.tbl_type04 > table.d_left td,
	.tbl_type04 > table td{padding: 20px 28px;height:20px;}
	.tbl_type04 .tit02{padding-left: 20px;}
	.tbl_type04 .w1{width: 12%}
	.tbl_type04 > table.center td{padding: 20px 5px;}

	/* [HEUNG-A] TWKIM / 20200625 / partner */	
	.partner_unit {font-size:13pt;font-weight:700}
	.partner_table_Area {border-radius: 20px;border:1px solid #d2d2d2;overflow:hidden}
	.partner_table_pc {width:100%}
	.partner_table_pc .partner_year {font-size:7pt}
	.partner_table_pc th {background-color: #eafff4;text-align: center;color: #009e51;font-weight: 700;}
	.partner_table_pc td {padding:10px 0;font-weight: 400;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}	
	.partner_table_pc thead tr {height:60px;border-bottom:1px solid #d2d2d2;}
	.partner_table_pc tbody tr {height:60px;border-bottom:1px solid #d2d2d2;}
	.partner_table_pc tbody tr:last-child {border-bottom:none}
	.partner_image_pc {width:90%;height:55px}
	.partner_impart_title {font-weight:700;font-size:18pt}

	/* [HEUNG-A] TWKIM / 20200731 / Welfare */
	.Welfare_Wrap_pc {width:100%;text-align:center}
	.Welfare_Wrap_pc .Welfare_Area {width:100%;display:inline-block;margin-bottom:50px}
	.Welfare_Wrap_pc .Welfare_Area .Welfare_box_Area {width: 100%;display:inline-block;max-width:155px;/*border: 5px solid #ddd;*/margin-right:1%;}
	.Welfare_Wrap_pc .Welfare_Area .Welfare_box_Area:last-child {margin-right:0;}
	.Welfare_Wrap_pc .Welfare_Area .Welfare_box_Area .Welfare_box {padding:2%;}
	.Welfare_Wrap_pc .Welfare_Area .Welfare_box_Area .Welfare_box img {width:80%;display: block;margin: 0 auto;} 
	.Welfare_Wrap_pc .Welfare_Area .Welfare_box_Area .Welfare_box strong {display: block;text-align: center;font-size: 9pt;padding: 10px 0;}
	.Welfare_Wrap_pc .Welfare_Area:after {display: block;content: '';clear: both;}

	/* [HEUNG-A] TWKIM / 20200803 / Welfare */
	.procedure_Wrap .procedure_Area .procedure_Box_Area {float:left;width:23%;margin-right:2%;overflow:hidden;margin-top:30px;}
	.procedure_Wrap .procedure_Area .procedure_Box_Area:last-child {width:25%;margin-right:0;}

	.procedure_Wrap .procedure_Area02 .procedure_Box_Area {float:left;width:48%;margin-right:2%;overflow:hidden;margin-top:30px;}
	.procedure_Wrap .procedure_Area02 .procedure_Box_Area:last-child {width:50%;margin-right:0%;}
	.procedure_Wrap .procedure_Area02:after  {display: block;content: '';clear: both;}
	.procedure_Wrap .procedure_Area02 .procedure_Box_Area .procedure_line span {font-size: 9pt;}

	/* finencen */
	.finance_unit {font-size:13pt;font-weight:700}
	.finance_table_Area {border-radius: 20px;border:1px solid #d2d2d2;overflow:hidden}
	.finance_table_pc {width:100%;display:table}
	.finance_table_pc .partner_year {font-size:7pt}
	.finance_table_pc th {background-color: #eafff4;text-align: center;color: #009e51;font-weight: 700;}
	.finance_table_pc td {padding:10px 0;font-weight: 400;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}	
	.finance_table_pc td:first-child {font-weight:700}
	.finance_table_pc thead tr {height:60px;border-bottom:1px solid #d2d2d2;}
	.finance_table_pc tbody tr {height:60px;border-bottom:1px solid #d2d2d2;}
	.finance_table_pc tbody tr:last-child {border-bottom:none}

	/* 서비스 중앙 정렬 빼기 */
	.business_wrap .item01 .text_area {height:430px}
	.business_wrap .item02 .text_area {height:430px} 
	.business_wrap .item03 .text_area {height:430px}

	/* sihong 20210908 - company icon list 추가 */
	.main_visual{background:url(/Images/visual01.jpg) no-repeat 50% 100% / auto calc(100% - 90px);}

	.company_list{display:block; position:absolute; bottom:40px; width:100%; height:auto; padding:0 20px; z-index:10; box-sizing:border-box;}
	.company_list .icon_list{display:flex; position:relative; max-width:1400px; margin:0 auto; padding: 0 5px; box-sizing:border-box; overflow:unset;}
	.company_list .icon_box{display:flex; flex-direction:column; width:50%; height:150px; padding:10px 5px; text-align:center; cursor:pointer;}
	.company_list .icon_box p{padding:10px 0 5px;}
	.company_list .icon_box p span{font-size:12px; color:#666;}
	.company_list .icon_in{display:block; width:100%; height:100%; margin:0 auto; text-align:center; background:#e5f0f8; border-radius:5px; transition:all .3s ease;}
	.company_list .icon_in .icon_bg{width:100%; height:calc(100% - 5px); background:url(/Images/main_icon01.png) no-repeat 50% 50%; border-top-left-radius:5px; border-top-right-radius:5px; transition:all .3s ease;}
	.company_list .icon_in img{width:100px;}
	.company_list .icon_in p{color:#fff;}
	.company_list .icon_in#SeaForwarding .icon_bg{background:url(/Images/main_icon06.png) no-repeat 50% 50%;}
	.company_list .icon_in#Freight .icon_bg{background:url(/Images/main_icon02.png) no-repeat 50% 50%;}
	.company_list .icon_in#Warehouse .icon_bg{background:url(/Images/main_icon03.png) no-repeat 50% 50%;}
	.company_list .icon_in#Project .icon_bg{background:url(/Images/main_icon04.png) no-repeat 50% 50%;}
	.company_list .icon_in#Medical .icon_bg{background:url(/Images/main_icon05.png) no-repeat 50% 50%;}
	.company_list .icon_box:hover .icon_in#AirForwarding .icon_bg{background:#0068b7 url(/Images/main_icon_w01.png) no-repeat 50% 50%;}
	.company_list .icon_box:hover .icon_in#SeaForwarding .icon_bg{background:#0068b7 url(/Images/main_icon_w06.png) no-repeat 50% 50%;}
	.company_list .icon_box:hover .icon_in#Freight:hover .icon_bg{background:#0068b7 url(/Images/main_icon_w02.png) no-repeat 50% 50%;}
	.company_list .icon_box:hover .icon_in#Warehouse:hover .icon_bg{background:#0068b7 url(/Images/main_icon_w03.png) no-repeat 50% 50%;}
	.company_list .icon_box:hover .icon_in#Project:hover .icon_bg{background:#0068b7 url(/Images/main_icon_w04.png) no-repeat 50% 50%;}
	.company_list .icon_box:hover .icon_in#Medical:hover .icon_bg{background:#0068b7 url(/Images/main_icon_w05.png) no-repeat 50% 50%;}
	
	.company_list .company_title{position:absolute; top:-180px; left:0; padding-top:0; padding-left:10px; color:#0068b7; font-size:20px; text-align:left;}
	.company_list .company_title .title02{width:413px; height:94px; font-size:70px; font-weight:700; background:url(/Images/logo_main.png) no-repeat 100% 50%;}

	/* sihong 20210908 - company_list */

	/* sihong 20210908 - notice 추가 */
	/*.notice{padding:50px 0 100px;}*/
	.notice .title{padding-bottom:20px; font-size:40px;}
	.notice_list > li .notice_tit{padding-left:200px; font-size:18px; background:#fff;}
	.notice_list > li .notice_cont .inner{padding:30px 50px; font-size:16px;}
	.notice_list > li .notice_cont .icn{top:26px; color:#005bac; font-size:18px;}
	.notice_list > li .icn{font-size:18px;}
	.notice_file > ul > li{margin:5px 30px;}
	.notice_file > ul > li:before{top:12px;}
	.notice_file > ul > li > a span{font-size:17px;}

	/* sihong 20210923 - talent */
	.talent .title{padding-bottom:20px; font-size:40px;}
	/*.talent .talent_desc{font-size:18px;}*/
	.talent .talent_desc p span{font-size:15px;}

	.talent .g_title{font-size:20px;}
	.talent .growth{display:flex;}
	.talent .growth .g_icon{padding:0 5px;}
	.talent .growth .g_icon:first-child{padding-left:0;}
	.talent .growth .g_icon:last-child{padding-right:0;}

	.talent .i_proc .seq{display:inline-block; width:200px; height:200px; line-height:200px;}
	.talent .i_proc .seq_next{display:inline-block; padding:0 10px;}
	.talent .i_proc .seq_next.second{display:inline-block; padding:0 20px;}

	.map_sel{position:absolute;}
	.map .title{padding-bottom:20px; font-size:40px;}

	/* sihong 20211214 - cont_info 추가 */
	.cont_info{}
	.cont_info .cont_diff{width:100%; min-height:195px; border-radius:4px; text-align:left;}
	.cont_info .cont_diff .cont_img{display:table;}
	.cont_info .cont_diff .cont_img img{display:table-cell;}
	.cont_info .cont_diff .cont_img img.mo{display:none;}
	.cont_info .cont_diff .cont_num{display:table-cell; padding-left:56px; color:#dadada; font-size:135px; font-family:'Inter'; font-weight:800; vertical-align:middle;}
	.cont_info .cont_desc{position:relative; bottom:170px; right:0; width:calc(100% - 490px); margin-left:auto; margin-bottom:-125px; padding:45px; background-color:#e5f0f8; border-top-left-radius:5px;}
	.cont_info .cont_desc .sub_title{padding-bottom:15px; color:#0068b7; font-size:28px; font-weight:600;}
	.cont_info .cont_desc .eng_title{display:inline-block; padding-left:6px; font-size:20px; font-weight:300; font-style:normal;}
	.cont_info .cont_desc p{color:#333; font-weight:300;}
	.cont_info .cont_desc p span.bl_desc{display:block; padding-left:14px; color:#666;}
	.cont_info .cont_desc p span.in_desc{display:inline-block; color:#666;}
	.cont_info .cont_desc p.eng{color:#666; font-size:14px;}
	.cont_info .cont_desc .kor_desc{padding-bottom:15px; color:#333;}
	.cont_info .cont_desc .eng_desc{color:#666; font-size:14px;}

	/* sihong 20210928 - greeting */
	.greeting{max-width:1400px; position:relative; margin:0 auto; padding:60px 20px 50px;}
	.greeting_title{position:absolute; top:100px; left:70px; text-align:left;}
	.greeting_title img{max-width:600px;}
	.greeting_box{display:flex; flex-wrap:wrap; margin-top:70px; padding-top:70px; border:5px solid #0068b7;}
	.greeting_cont{flex: 1 1 20%; border-top:0; background:url(/Images/grt_side.png) no-repeat 0% 50% / auto 100%;}
	.greeting_cont:first-child{background:transparent;}
	.greeting_info{display:flex; flex-direction:column; flex-wrap: wrap; justify-content:space-between; height:100%; box-sizing:border-box;}
	.greeting_info .sub_title{font-size:28px; font-weight:600;}
	.greeting_info .pd_bt0{padding-bottom:20px;}
	.greeting_info .btn_plus,
	.greeting_info .btn_minus{width:35px; padding-bottom:30px;}
	.greeting_info .sales{line-height:40px;}

	.greeting_box .pc{display:block;}

	/*.greeting_desc:nth-child(2){padding-bottom:200px; background:#e5f0f8 url(/Images/grt_sales02.png) no-repeat 50% calc(100% - 40px);}*/
	.greeting_desc.grt_pc{display:none;}
	.greeting_desc.grt_pc.show{display:block; width:100%; border-top:0; box-sizing:border-box;}
	.greeting_desc.grt.show{display:none;}
	.greeting_desc{/*padding:45px 60px;*/ border-left:5px solid #0068b7; border-right:5px solid #0068b7; border-bottom:5px solid #0068b7; border-bottom-left-radius:4px; border-bottom-right-radius:4px;}
	.greeting_desc .part0,
	.greeting_desc .part1,
	.greeting_desc .part2,
	.greeting_desc .part3{padding:60px 40px;}
	.greeting_desc .part0 .dot{font-size:20px;}
	.greeting_desc .sub_title{font-size:32px;}
	.greeting_desc .sub_title span{font-size:20px;}
	.greeting_desc .part1 p{font-size:16px;}
	/*.greeting_desc .part2{padding-top:40px; padding-bottom:40px;}*/
	.greeting_desc .part2.certify{padding-top:30px;}
	.greeting_desc .part2.certify .sub_title{font-size:32px; text-align:center;}
	.greeting_desc .part1 img,
	.greeting_desc .part2 img {width:auto; max-width:100%; padding-bottom:0;}
	.greeting_desc .part2 img{padding-bottom:20px;}
	.greeting_desc .part1 .ceo_sign img,
	.greeting_desc .part1.business img{padding-bottom:0;}
	.greeting_desc .part2 p{font-weight:300; font-size:16px;}
	.greeting_desc .part2 .d_title{font-size:16px;}
	.greeting_desc .part2 .blue{font-weight:400;}
	.greeting_desc .bubble_w{padding:26px 80px; border-radius:50px;}

	.greeting_desc .part3 p{padding-bottom:5px; color:#666; font-size:16px;}

	.greeting_desc .flex_div{display:flex; justify-content:center;}
	.greeting_desc .flex_div.pd_bt20{padding-bottom:20px}
	.greeting_desc .flex_div.pd_bt40{padding-bottom:40px}
	.greeting_desc .flex_inner{width:50%;}
	.greeting_desc .flex_inner.short{width:20%; padding-right:50px; border-right:1px solid #b7d3eb; box-sizing:border-box;}
	.greeting_desc .flex_inner.short .d_title{padding:0; text-align:right;}
	.greeting_desc .flex_inner.pd_lt50{padding-left:50px; box-sizing:border-box;}
	.greeting_desc .certify .flex_div{justify-content:space-between;}

	.greeting_desc .certi_list{width:100%; padding-bottom:40px;}
	.greeting_desc .certi_list img{max-width:60%;}
	.greeting_desc .certi_list img:first-child{width:40%;}
	.greeting_desc .certi_list img:last-child{width:60%;}
	/*.greeting_desc .flex_div:last-child .certi_list{padding-bottom:0;}*/

	.greeting_desc .part1 .sales_chart p{padding-bottom:5px; font-size:14px;}
	.greeting_desc .part1 .sales_chart p.sub_title{display:table; margin:0 auto 20px;}
	.greeting_desc .part1 .sales_chart img{width:auto; padding:0 45px 20px; box-sizing:border-box;}
	.greeting_desc .flex_div .sales_chart{padding-right:45px;}
	.greeting_desc .flex_div .sales_chart:last-child{padding-top:0; padding-left:45px; padding-right:0;}

	.greeting_desc .part1.ceo .grt_bg{width:100%; height:315px; position:relative; background:url(/Images/grt_bg.jpg) no-repeat 50% 50%;}
	.greeting_desc .part1.ceo .grt_bg p{position:absolute; bottom:0; left:36px; padding-bottom:0; font-size:50px; font-weight:600; color:#fff; line-height:normal;}
	.greeting_desc .part1.ceo .grt_desc{padding-left:36px; padding-bottom:42px; color:#000; font-size:50px; font-weight:600; line-height:normal;}

	.greeting_desc .part1.ceo p{padding-bottom:30px; line-height:24px;}
	.greeting_desc .part1.ceo p.ceo_sign{text-align:right;}
	.ceo .flex_div{padding:0 25px;}
	.ceo .flex_inner:first-child{padding-right:30px;}

	.greeting_desc .part1.support p{padding-bottom:4px; color:#333; text-align:center;}
	.greeting_desc .part1.support p.recruit{padding-bottom:17px;}
	.greeting_desc .part1.support p.map_title{display:inline-block; padding-bottom:18px;}
	.greeting_desc .part1.support .talent .growth .g_icon_box p{color:#dadada; text-align:left;}

	table.list_type1 thead th,
	table.list_type1 tbody td{padding:7px 0; font-size:16px;}

	.greeting_desc .all_tab:before {display: block; content: ''; position: absolute; top: 30px; left: calc(50% - 1px); width: 2px; height: calc(100% - 30px); background: #0068b7;}
	.greeting_desc .tab_panel{position:relative;}
	.greeting_desc .tab_panel .panel:before {display: block; content: ''; position: absolute; top: 30px; left: calc(50% - 1px); width: 2px; height: calc(100% - 30px); background: #0068b7;}
	.greeting_desc .hist_right,
	.greeting_desc .hist_left{width:50%; position:relative;}
	.greeting_desc .hist_right:before,
	.greeting_desc .hist_left:before{display:block; content:''; position:absolute; top:0; width:23px; height:23px; background:url(/Images/icn_arrow6.png) no-repeat 50% 50%;}
	.greeting_desc .hist_right:before{left:-11px;}
	.greeting_desc .hist_left:before{right:-11px; transform:scaleX(-1);}
	.greeting_desc .hist_right{margin-left:50%; padding-left:20px;}
	.greeting_desc .hist_left{padding-right:20px; box-sizing:border-box;}
	.greeting_desc .hist_left{padding-right:20px; box-sizing:border-box;}
	.greeting_desc .part1 .hist_left p{text-align:right;}
	.greeting_desc .part1 .hist_right p,
	.greeting_desc .part1 .hist_left p{padding-bottom:10px;/*line-height:30px;*/}

	.greeting_desc .part1 .d_title{font-size:20px;}

	.tab.greet > li{font-size:28px;}
	.tab.greet > li:first-child{text-align:left;}
	.tab.greet > li:last-child{text-align:right;}

	.tab.type2 > li{font-size:18px;}

	.desc_cover p{font-size:16px;}

	.no_data{padding: 120px 2px; font-size: 24px;}

	/* company_title */
	.company_title .desc{font-size:24px;}
	.company_title .desc.eng{font-size:21px;}
	.company_title .desc_long{font-size:21px;}
	/* company_title */

	.corp{font-size:15px;}

	.slogan p{font-size:30px;}
}

@media all and (max-width:1024px){

	.sub_visual .inner p span{display:block; font-size:16px; font-style:italic; font-weight:200;}

	.talent .i_proc .seq_next.second img{transform:rotate(90deg);}
	.talent .i_proc .seq_next.third img{transform:rotate(180deg);}

	.greeting_desc .flex_div{display:flex; flex-wrap:wrap;}
	.greeting_desc .flex_div .certi_list2{flex: 1 1 40%; padding:0 5px;}
}

@media all and (min-width:767px){
	.section.part2{height:936px; background-image:url(/Images/visual04.png); background-position: 50% 50%; background-size:cover;}
	.section.part2 .inner{padding-top:178px;}

	.icon_list{display:flex; justify-content:space-between; position:absolute; bottom:42px; width:100%; padding:0 20px;}
	.icon_list .icon{display:block; flex:1 1 20%; max-width:335px; width:100%; margin-right:18px; text-align:center; background:#fff; border-radius:10px; box-shadow:8px 8px 18px 0px rgba(4,0,0,0.2); cursor:pointer;}
	.icon_list .icon:last-child{margin-right:0;}
	.icon_list .icon:nth-child(even){margin-right:18px;}
	.icon_list .icon_img{width:100%; height:340px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-left-radius:0;}
	.icon_list .icon_img.company{background:url(/Images/main_img01.png) no-repeat 50% 50%;}
	.icon_list .icon_img.business{background:url(/Images/main_img02.jpg) no-repeat 50% 50%;}
	.icon_list .icon_img.customer{background:url(/Images/main_img03.jpg) no-repeat 50% 50%;}
	.icon_list .icon_img.prime{background:url(/Images/main_img04.jpg) no-repeat 50% 50%;}
	.icon_list .icon_desc{}
	.icon_list .icon_desc button{width:100%; color:#0068b7; font-size:28px; line-height:80px; border-top-right-radius:0; border-bottom-left-radius:10px; border-bottom-right-radius:10px; transition:all .3s ease;}
	.icon_list .icon_desc button span{padding-bottom:28px; font-size:16px;}
	.icon_list .icon:hover .icon_desc button{color:#fff; background:#0068b7;}

	.greeting_desc .grt_inner{display:flex; justify-content:space-between; position:relative; max-width:1000px; margin:0 auto 20px;}
	.greeting_desc .grt_inner:before{display:block; content:''; position:absolute; top:50%; width:100%; height:1px; border-bottom:1px solid #cedeef;}
	.greeting_desc .grt_circle{display:flex; flex-direction:column; justify-content:center; width:200px; height:200px; background:#fff; border-radius:50%; z-index:2;}
	.greeting_desc .grt_circle p{font-size:16px;}
	.greeting_desc .grt_circle p.num{display:block; padding-bottom:20px;}
	.greeting_desc .grt_br{display:none;}
}

/* sihong - 768px ~ 1024px 까지는 여기에 넣으세요 */
@media all and (min-width:767px) and (max-width:1024px){
	.OurBusiness{float:left; width:50%;}
	.OurBusiness:after{display:block; content:''; clear:both;}

	/*.greeting_cont:nth-child(2) .greeting_desc{padding-bottom: 100px; background: #e5f0f8 url(/Images/grt_sales02.png) no-repeat 50% calc(100% - 20px) / 100%;}*/
	
	.talent .i_proc .seq{width:150px; height:150px; line-height:150px;}
	.talent .i_proc .seq_next.second{padding-left:180px;}
}

@media all and (max-width:1100px)
{
	.valuable_wrap .valuable_area .text_area {left:3%}
	.valuable_wrap .valuable_area .text_area .text1 {color: #f2f2f2  ;font-size: 30pt;}

}

@media all and (min-width:1200px) {

	/* 로고 사이즈 및 크기 수정 */
	#header .logo > a{height: 100%;margin-top:0}
	#header .logo2 > a{width:300px;height: 47px;background-size: 300px 41px;margin-top:0}
	/*.visual_slide .item .txt01 img{width: 100%}*/
	.lnb > li > a{padding: 0 46px;font-size: 20px;}
	.mn_info .txt img{width: auto}
	.mn_info .box .tit{font-size: 40px;margin-bottom: 24px;}
	.mn_info .box p{font-size: 18px;line-height: 1.75;}

	/* twkim - 메인 content 3개 텍스트 위치 추가 */
	.main_content_left {text-align: left;padding-left: 15px;}
	.main_content_center {}
	.main_content_right {text-align: right;padding-right: 15px;}
	
	/* [HEUNG-A] TWKIM / 20200625 / finance */
	/*.finance_area {float:left;width:48%;padding:0 1%;}
	.finance_area:after {display: block;content: '';clear: both}*/

	.procedure_Wrap .procedure_Area02 .procedure_Box_Area .procedure_line span {font-size: 11pt;}
	
}

@media all and (max-width:1220px) {
	.sub_img_title {width:650px}
	.partner_table_pc {font-size:9pt}
	.partner_image_pc {width:90%;height:30px}

	.company_list .icon_box p span .mo{display:block;}
}

@media all and (min-width:1280px) {
	
}

@media all and (max-width:1280px){

	.business_wrap .text{font-size: 11pt;}
	.business_wrap .title{font-size: 25pt;}
	.business_wrap .eng_title{font-size: 20pt;}

	.fix_area {padding: 0 16px;box-sizing: border-box}
}


@media all and (min-width:1480px) {
	.mn_info .inner{padding-left: 0;padding-right: 0}
	.mn_info .box_w{margin: 0 -20px;}
	.mn_info .box{padding: 20px}
}

@media all and (min-width:1700px) {
	.visual_slide .item .txt01 img{width: auto}
}

@media all and (min-width:1920px) {
}