@{
    ViewBag.Title = "company";
    ViewBag.Sub = "greeting";

    Layout = "~/Views/Shared/_subLayout.cshtml";

    string setLang = "";
    if (HttpContext.Current.Session["Language"] == null)
    {
        setLang = "KO";
    }
    else
    {
        setLang = HttpContext.Current.Session["Language"].ToString();
    }

    if (string.IsNullOrEmpty(setLang))
    {
        setLang = "KO";
    }
}

@section Container {
    @if (setLang.Equals("EN"))  //언어 설정이 영어 일 경우
    {
        <div class="container">
            <div class="contents">
                <h3 class="subtitle"><span>Greeting</span></h3>
            </div>

            <!-- 워터마크 안쪽에는 내용 ~-->
            @*<div class="greeting_watermark">
                </div>*@

            <!-- contents -->
            <div class="contents">
                <!-- greeting_w -->
                <div class="greeting_w">
                    @*<strong class="point">
                            홈페이지를 방문하여 주셔서 진심으로 감사 드립니다.<br /><br />
                            <br class="mo" />
                        </strong>*@
                    @*<div class="greeting_image_area">
                            <img src="~/Images/CEO.jpg" class="greeting_image"/> <br />
                            <span>(주)흥아로지스틱스 <br />대표이사 오 영 훈</span>
                        </div>*@
                    <div class="greeting_content_area">
                        <p>
                            The enviroment of logistics is getting competitive everyday. <br />
                            As one of the Korea's leading logistics company, HANSAENG Express provides competitive and reliable logistics service worldwide. <br />
                            Founded in 1978, with accumulated know-how and the best staffs who have massive experience, we have provided services that meets the satisfaction of customers and clients.
                            <br /><br />
                            In addition, with various worldwide partner network, we promise to provide the best quiality of service at competitive rate.<br />
                            Hansaeng Express appreciate all your supports and opportunities for last four decades.
                        </p>
                    </div>

                </div>
                <!-- //greeting_w -->
            </div>

            <!-- company_w -->
            <div class="company_w part2">
                <div class="fix_inner">
                    <h4 class="title01 white">Company History</h4>
                    <ul class="history_list">
                        <li>
                            <em class="year">2018.11</em>
                            <p>40th anniversary of company establishment</p>
                        </li>
                        <li>
                            <em class="year">2013.01</em>
                            <p>Certified as an excellent company with comprehensive AEO certification</p>
                        </li>
                        <li>
                            <em class="year">1997.01</em>
                            <p>
                                Changed Company name to Hansaeng Sea and Air Co., LTD.
                                (English name stays same as Hansaeng Express Co., LTD)
                            </p>
                        </li>
                        <li>
                            <em class="year">1993.07</em>
                            <p>FMC registration and BOND</p>
                        </li>
                        <li>
                            <em class="year">1988. 08</em>
                            <p>IATA member registration</p>
                        </li>
                        <li>
                            <em class="year">1978. 11</em>
                            <p>Established Hansaeng Express Co., LTD.</p>
                        </li>
                    </ul>
                    <div class="history_line">
                        <span class="circle"></span>
                        <span class="circle"></span>
                    </div>
                </div>
            </div>
            <!-- //company_w -->

        </div>

        <!-- //contents -->
        <!-- greeting_w -->
        @*<div class="greeting_w part2">
                <div class="fix_inner">
                </div>
            </div>*@
        <!-- //greeting_w -->
    }
    else
    {
        <div class="container" aria-live="polite">
            <div class="greeting">
                <div class="greeting_title">
                    <img class="pc" src="~/Images/grt_hd.png" />
                    <img class="mo" src="~/Images/grt_hd_mo.png" />
                    @*<h1 class="title">어려움을 기회로 삼아 현실에 안주하지 않고, 보다 진취적이고 역동적인 스카이로드로 거듭날 것을 약속 드립니다.</h1>*@
                </div>
                <div class="greeting_box" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                    <div class="greeting_cont on">
                        <div class="greeting_info" id="Vision">
                            <h2 class="sub_title">회사 개요<span>About Skyroad</span></h2>
                            <div class="img_cover">
                                <img src="~/Images/grt_mission01.png" class="pd_bt0" />
                            </div>
                            @*<img src="~/Images/grt_mission02.png" class="pd_bt0" />*@
                            <img src="~/Images/btn_plus.png" class="btn_plus" />
                            <img src="~/Images/btn_minus.png" class="btn_minus" />
                        </div>
                        <div class="greeting_desc grt show">
                            <div class="part0">
                                <h2 class="sub_title">스카이로드의 미션과 비전<span>Mission & Vision</span></h2>
                                @*<p class="dot">시대를 초월하여 고객들에게 최상의 물류 서비스를 제공한다.<br />대한민국 최고의 포워더로서 국내 무역 산업의 발전에 기여한다.</p>*@
                                <p class="dot">Mission : 우리의 도움을 필요로 하는 사람들을 돕는다.<br />Vision : 대한민국에서 가장 고객지향적인 물류업체가 되어 해외운송 마켓을 선도한다.</p>
                            </div>
                            <div class="part1 bg_light">
                                <h2 class="sub_title">경영 방침<span>Management Policy</span></h2>
                                @*<div class="grt_inner">
                                    <div class="grt_circle">
                                        <p class="num">01</p>
                                        <p>개인능력<br />배양</p>
                                    </div>
                                    <div class="grt_circle">
                                        <p class="num">02</p>
                                        <p>영업력<br />극대화</p>
                                    </div>
                                    <div class="grt_circle">
                                        <p class="num">03</p>
                                        <p>부서간 <br class="grt_br" />융화를 통한<br />발전 극대화</p>
                                    </div>
                                </div>*@
                                <img src="~/Images/grt_mission03.png" />
                                <p class="d_title">품질방침<span>Quality policy</span></p>
                                <p class="d_kor">고객 우선주의</p>
                                <p>Customer-first</p>
                                <p class="d_title">품질목표<span>Quality goal</span></p>
                                <p class="d_kor">3S</p>
                                <p>Smile, Service, Speed</p>
                                <p class="d_title">핵심가치<span>Main value</span></p>
                                <p class="d_kor">고객만족, 지속발전, 인간존중</p>
                                <p>Customer satisfaction, Sustainable Development, and Respect for person.</p>
                            </div>
                            <div class="part2">
                                <h2 class="sub_title">스카이로드의 CI<span>Skyroad CI</span></h2>
                                <img src="~/Images/company_ci.jpg" />
                                <p class="blue">● # 0068b7 | R 0  G 104  B 183</p>
                                    <p class="d_title">Symbol Mark</p>
                                    <p class="d_kor">스카이로드의 심볼마크는 지평선에 비친 파란 하늘과 바다를 표현하고 있습니다.</p>
                                    <p>Symbol mark of Skyroad expresses blue sky and sea reflected by horizon.</p>
                                    <p class="d_title">Color</p>
                                    <p class="d_kor">스카이로드의 파란색은 하늘과 바다의 푸른색입니다. 또한 신뢰와 책임의 상징입니다.<br />스카이로드는 가장 믿음가는 대한민국 물류 기업임을 자부합니다.</p>
                                    <p>The blue color stands for sky & sea, it also means trust and responsibility.<br />Skyroad certainly believes we are the most reliable logistics company in the world.</p>
                            </div>
                            <div class="part3 bg_light">
                                <h2 class="sub_title">매출액<span>Sales</span></h2>
                                <img src="~/Images/grt_chart01.png" />
                                <p class="d_kor d_title">본질을 지키며 끊임없이 성장하는 스카이로드가 되겠습니다.</p>
                                <p>Skyroad pursues eternal growth by understanding the essentiality of logistics, and practicing the doctrine of respect for person.</p>
                            </div>
                        </div>
                    </div>
                    <div class="greeting_cont">
                        <div class="greeting_info" id="Sales">
                            <h2 class="sub_title">CEO 메세지<span>CEO Message</span></h2>
                            <div class="img_cover">
                                <img src="~/Images/grt_message.png" class="pd_bt0" />
                            </div>
                            <img src="~/Images/btn_plus.png" class="btn_plus" />
                            <img src="~/Images/btn_minus.png" class="btn_minus" />
                        </div>
                        <div class="greeting_desc grt">
                            <div class="part1 ceo">
                                <h2 class="sub_title">CEO 메세지<span>CEO Message</span></h2>
                                <div class="grt_bg">
                                    <p class="desc">원스톱 서비스를 지향하는</p>
                                </div>
                                <p class="grt_desc">글로벌 물류 기업</p>
                                <div class="flex_div pd_bt20">
                                    <div class="flex_inner">
                                        <p>스카이로드는 항공, 해상 운송은 물론 통관 및 내륙운송까지 원스톱 서비스를 지향하는 글로벌 물류 기업입니다.</p>
                                        <p>1997년 창사 이래로 꾸준히 성장하며 현재까지 달려왔습니다.<br />그야말로 레드오션인 글로벌 포워딩 마켓에서 꾸준히 성장할 수 있었던 데에는 임직원분들의 남다른 도전정신이 있었기에 가능했습니다.</p>
                                        <p>스카이로드는 모두가 불가능하다고 생각하는 다양한 상황의 운송을 해결, 고객에게 잊을 수 없는 가치를 제공할 것입니다.</p>
                                    </div>
                                    <div class="flex_inner">
                                        <p>모두가 불가능하다고 생각하는 일을 기어코 해내고야마는 정신이 바로 스카이로드의 정신입니다.</p>
                                        <p>스카이로드는 그동안 끊임없이 축적해온 경험과 노하우를 바탕으로 수준 높은 서비스를 제공해드릴 수 있음에 큰 자부심으로 여기고 있습니다.</p>
                                        <p class="pd_bt0">전 임직원이 혼연일체가 되어 고객감동을 드리는 서비스로 귀사의 물류 효율화에 이바지하겠습니다.</p>
                                        <p class="ceo_sign">대표이사&nbsp;&nbsp;&nbsp;<img src="~/Images/ceo_sign_ko.png" /> 올림</p>
                                    </div>
                                </div>
                                <div class="flex_div">
                                    <div class="flex_inner">
                                        <p>Skyroad was founded in 1997 and grew into a comprehensive logistics company providing one-stop services ranging from air/sea trade, transportation, warehouseing, customs, and even e-commerce trade.</p>
                                        <p>
                                            Members of Skyroad has always challenged for the best since we started. We turn our ultimate goal of challenging into reality with the following actions of priorities.
                                            <br />It's " daring challenge for the best " . We built solid foundation of customer trust by offering differentiated customer values and meticulous execution.
                                        </p>
                                    </div>
                                    <div class="flex_inner">
                                        <p>
                                            Skyroad seeks to provide perfect response to the environment changing in the blurring national barrier.
                                            <br />In the rapidly changing global environment, we are seeking continued growth to help our clients enhance their logistics competitiveness.
                                            <br />Our goal is to become the most reliable logistics partner that can provide any service that clients require.
                                        </p>
                                        <p>Thank you for your continued support and interest, and we pledge to continue all of our efforts to generate sustained logistics services.</p>
                                        <p class="ceo_sign pd_bt0">CEO&nbsp;&nbsp;&nbsp;<img src="~/Images/ceo_sign_en.png" /></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="greeting_cont">
                        <div class="greeting_info" id="History">
                            <h2 class="sub_title">연혁<span>History</span></h2>
                            <div class="img_cover">
                                <img src="~/Images/grt_history.png" />
                            </div>
                            <p>2021.04.10</p>
                            <p class="pd_bt0">World Health Organization<br />Good Distribution Practices<br />(WHO GDP) 인증</p>
                            <img src="~/Images/btn_plus.png" class="btn_plus" />
                            <img src="~/Images/btn_minus.png" class="btn_minus" />
                        </div>
                        <div class="greeting_desc grt">
                            <div class="part1">
                                <h2 class="sub_title">연혁<span>History</span></h2>
                                <div class="tab_area greet" id="tab_area">
                                    <ul class="tab pt1 greet">
                                        <li value="NOW"><a href="javascript:void(0)">2020-현재</a></li>
                                        <li value="BEFORE"><a href="javascript:void(0)">2000-2019</a></li>
                                        <li value="OLD"><a href="javascript:void(0)">1997-1999</a></li>
                                    </ul>
                                </div>
                                <div class="all_tab pt1">
                                    <div class="hist_right">
                                        <p class="d_title">2021</p>
                                        <p class="desc_bullet"><span class="d_ymd">2021.04.10</span> World Health Organization Good Distribution Practices (WHO GDP) 인증<br /><span class="d_eng">World Health Organization Good Distribution Practices</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">2020</p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2020.12.10</span> ISO 13485 : 2016 인증 (의약품 또는 의료기기 취급 관련 화물운송 및 주선업)<br /><span class="d_eng">Acquired ISO 13485 : 2016</span></p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2020.07.16</span> <span class="corp">㈜</span>스카이로드 특송업체 등록<br /><span class="d_eng">Started courier business</span></p>
                                        <p class="desc_bullet"><span class="d_ymd">2020.06.22</span> 상업서류송달업 신고<br /><span class="d_eng">Started commercial documents delivery business</span></p>
                                    </div>
                                    <div class="hist_right">
                                        <p class="d_title">2016</p>
                                        <p class="desc_bullet"><span class="d_ymd">2016.11.24</span> ISO 9001 : 2008 인증 (국제물류주선업, 창고업, 화물운송 및 주선업)<br /><span class="d_eng">Acquired ISO 9001 : 2008</span></p>
                                        <p class="desc_bullet"><span class="d_ymd">2016.08.03</span> 화물자동차운송사업 개시<br /><span class="d_eng">Started trucking transportation business</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">2015</p>
                                        <p class="desc_bullet"><span class="d_ymd">2015.01.27</span> 인천 창고 설립<br /><span class="d_eng">Established warehouse in Incheon</span></p>
                                    </div>
                                    <div class="hist_right">
                                        <p class="d_title">2014</p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2014.10.14</span> 우수 국제물류주선업체 인증 (국토교통부장관)<br /><span class="d_eng">Won award from Ministry of Land, Infrastructure, and Transport</span></p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2014.08.05</span> 인천 사무소 설립<br /><span class="d_eng">Established branch in Incheon</span></p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2014.05.01</span> 조달청 외자물자 일괄운송 계약 체결 ('14.05.01~'18.04.30)<br /><span class="d_eng">Carried out contract with Public Procurement Services of Government</span></p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2014.04.10</span> '2014 중소기업품질대상' 수상 (서울경제 주최)<br /><span class="d_eng">Won '2014 Quality award' from Seoul Economy broadcast</span></p>
                                        <p class="desc_bullet"><span class="d_ymd">2014.04.10</span> 홍콩지사 설립 (Bridgeair Limited - Hongkong)<br /><span class="d_eng">Founded Bridgeair Limited - Hong Kong</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">2011</p>
                                        <p class="desc_bullet"><span class="d_ymd">2011.12.01</span> 종합인증우수업체 AEO 인증 (관세청장)<br /><span class="d_eng">Acquired Authorized Economic Operator</span></p>
                                    </div>
                                    <div class="hist_right">
                                        <p class="d_title">2007</p>
                                        <p class="desc_bullet"><span class="d_ymd">2007.11.26</span> 싱가폴 지사 설립 (Bridgeair Limited - Singapore)<br /><span class="d_eng">Founded Bridgeair Limited - Singapore</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">2003</p>
                                        <p class="pd_bt0"><span class="d_ymd">2003.12.23</span> 방위사업청 항공 물류 운송 계약 체결<br /><span class="d_eng">Carried out contract with Defense Acquistion Program Administration</span></p>
                                        <p><span class="d_ymd">2003.03.17</span> 부산 사무소 설립<br /><span class="d_eng">Established branch in Busan</span></p>
                                    </div>
                                    <div class="hist_right">
                                        <p class="d_title">2000</p>
                                        <p class="desc_bullet"><span class="d_ymd">2000.12.28</span> LG전자<span class="corp">㈜</span> 물류부문 협력사 6시그마활동 우수상 수상<br /><span class="d_eng">Won the best award as cooperator of LG</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">1999</p>
                                        <p class="desc_bullet"><span class="d_ymd">1999.07.01</span> ISO 9001 CAS 인증 획득<br /><span class="d_eng">Acquired ISO 9001 CAS</span></p>
                                    </div>
                                    <div class="hist_right">
                                        <p class="d_title">1997</p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">1997.07.09</span> 복합운송주선업 면허 획득 (건설교통부 제 758호)<br /><span class="d_eng">Registered as Freight forwarder</span></p>
                                        <p class="desc_bullet"><span class="d_ymd">1997.06.28</span> <span class="corp">㈜</span>스카이로드 설립<br /><span class="d_eng">Founded Skyroad</span></p>
                                    </div>
                                </div>
                                <div class="tab_panel pt1">
                                    <div class="panel">
                                        <p class="d_title">2021</p>
                                        <p class="desc_bullet"><span class="d_ymd">2021.04.10</span> World Health Organization Good Distribution Practices (WHO GDP) 인증<br /><span class="d_eng">World Health Organization Good Distribution Practices</span></p>
                                        <p class="d_title">2020</p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2020.12.10</span> ISO 13485 : 2016 인증 (의약품 또는 의료기기 취급 관련 화물운송 및 주선업)<br /><span class="d_eng">Acquired ISO 13485 : 2016</span></p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2020.07.16</span> <span class="corp">㈜</span>스카이로드 특송업체 등록<br /><span class="d_eng">Started courier business</span></p>
                                        <p class="desc_bullet"><span class="d_ymd">2020.06.22</span> 상업서류송달업 신고<br /><span class="d_eng">Started commercial documents delivery business</span></p>
                                    </div>
                                    <div class="panel">
                                        <p class="d_title">2016</p>
                                        <p class="desc_bullet"><span class="d_ymd">2016.11.24</span> ISO 9001 : 2008 인증 (국제물류주선업, 창고업, 화물운송 및 주선업)<br /><span class="d_eng">Acquired ISO 9001 : 2008</span></p>
                                        <p class="desc_bullet"><span class="d_ymd">2016.08.03</span> 화물자동차운송사업 개시<br /><span class="d_eng">Started trucking transportation business</span></p>
                                        <p class="d_title">2015</p>
                                        <p class="desc_bullet"><span class="d_ymd">2015.01.27</span> 인천 창고 설립<br /><span class="d_eng">Established warehouse in Incheon</span></p>
                                        <p class="d_title">2014</p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2014.10.14</span> 우수 국제물류주선업체 인증 (국토교통부장관)<br /><span class="d_eng">Won award from Ministry of Land, Infrastructure, and Transport</span></p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2014.08.05</span> 인천 사무소 설립<br /><span class="d_eng">Established branch in Incheon</span></p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2014.05.01</span> 조달청 외자물자 일괄운송 계약 체결 ('14.05.01~'18.04.30)<br /><span class="d_eng">Carried out contract with Public Procurement Services of Government</span></p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">2014.04.10</span> '2014 중소기업품질대상' 수상 (서울경제 주최)<br /><span class="d_eng">Won '2014 Quality award' from Seoul Economy broadcast</span></p>
                                        <p class="desc_bullet"><span class="d_ymd">2014.04.10</span> 홍콩지사 설립 (Bridgeair Limited - Hongkong)<br /><span class="d_eng">Founded Bridgeair Limited - Hong Kong</span></p>
                                        <p class="d_title">2011</p>
                                        <p class="desc_bullet"><span class="d_ymd">2011.12.01</span> 종합인증우수업체 AEO 인증 (관세청장)<br /><span class="d_eng">Acquired Authorized Economic Operator</span></p>
                                        <p class="d_title">2007</p>
                                        <p class="desc_bullet"><span class="d_ymd">2007.11.26</span> 싱가폴 지사 설립 (Bridgeair Limited - Singapore)<br /><span class="d_eng">Founded Bridgeair Limited - Singapore</span></p>
                                        <p class="d_title">2003</p>
                                        <p class="pd_bt0"><span class="d_ymd">2003.12.23</span> 방위사업청 항공 물류 운송 계약 체결<br /><span class="d_eng">Carried out contract with Defense Acquistion Program Administration</span></p>
                                        <p><span class="d_ymd">2003.03.17</span> 부산 사무소 설립<br /><span class="d_eng">Established branch in Busan</span></p>
                                        <p class="d_title">2000</p>
                                        <p class="desc_bullet"><span class="d_ymd">2000.12.28</span> LG전자<span class="corp">㈜</span> 물류부문 협력사 6시그마활동 우수상 수상<br /><span class="d_eng">Won the best award as cooperator of LG</span></p>
                                    </div>
                                    <div class="panel">
                                        <p class="d_title">1999</p>
                                        <p class="desc_bullet"><span class="d_ymd">1999.07.01</span> ISO 9001 CAS 인증 획득<br /><span class="d_eng">Acquired ISO 9001 CAS</span></p>
                                        <p class="d_title">1997</p>
                                        <p class="desc_bullet pd_bt0"><span class="d_ymd">1997.07.09</span> 복합운송주선업 면허 획득 (건설교통부 제 758호)<br /><span class="d_eng">Registered as Freight forwarder</span></p>
                                        <p class="desc_bullet"><span class="d_ymd">1997.06.28</span> <span class="corp">㈜</span>스카이로드 설립<br /><span class="d_eng">Founded Skyroad</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="greeting_cont">
                        <div class="greeting_info" id="Certifications">
                            <h2 class="sub_title">인증&자격<span>Certifications</span></h2>
                            <div class="img_cover">
                                <img src="~/Images/grt_certify.png" class="pd_bt0" />
                            </div>
                            <img src="~/Images/btn_plus.png" class="btn_plus" />
                            <img src="~/Images/btn_minus.png" class="btn_minus" />
                        </div>
                        <div class="greeting_desc grt">
                            <div class="part1">
                                <h2 class="sub_title">인증현황<span>Certifications</span></h2>
                                <div class="certify">
                                    <div class="certi_list">
                                        <img src="~/Images/f_aeo.png" />
                                        <img src="~/Images/grt_certi01.png" />
                                    </div>
                                    <div class="certi_list">
                                        <img src="~/Images/f_celc.png" />
                                        <img src="~/Images/grt_certi02.png" />
                                    </div>
                                    <div class="certi_list">
                                        <img src="~/Images/f_iso.png" />
                                        <img src="~/Images/grt_certi03.png" />
                                    </div>
                                    <div class="certi_list">
                                        <img src="~/Images/f_iso2.png" />
                                        <img src="~/Images/grt_certi04.png" />
                                    </div>
                                    <div class="certi_list">
                                        <img src="~/Images/f_sgs.png" />
                                        <img src="~/Images/grt_certi05.png" />
                                    </div>
                                    <div class="certi_list">
                                        <img src="~/Images/f_mainbiz.png" />
                                        <img src="~/Images/grt_certi06.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="part2 certify">
                                <h2 class="sub_title">자격현황<span>Status of qulifications</span></h2>
                                <div class="certify">
                                    <div class="flex_div">
                                        <div class="certi_list2">
                                            <img src="~/Images/grt_certi07.png" />
                                            <p>국제물류주선업</p>
                                        </div>
                                        <div class="certi_list2">
                                            <img src="~/Images/grt_certi08.png" />
                                            <p>화물운송주선업</p>
                                        </div>
                                        <div class="certi_list2">
                                            <img src="~/Images/grt_certi09.png" />
                                            <p>화물자동차운송사업</p>
                                        </div>
                                        <div class="certi_list2">
                                            <img src="~/Images/grt_certi10.png" />
                                            <p>특송업체등록</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pc">
                    <!-- greeting_desc -->
                    <div class="greeting_desc grt_pc show">
                        <div class="part0">
                            <h2 class="sub_title">스카이로드의 미션과 비전<span>Mission & Vision</span></h2>
                            @*<p class="dot">시대를 초월하여 고객들에게 최상의 물류 서비스를 제공한다.<br />대한민국 최고의 포워더로서 국내 무역 산업의 발전에 기여한다.</p>*@
                            <p class="dot">Mission : 우리의 도움을 필요로 하는 사람들을 돕는다.<br />Vision : 대한민국에서 가장 고객지향적인 물류업체가 되어 해외운송 마켓을 선도한다.</p>
                        </div>
                        <div class="part1 bg_light">
                            <h2 class="sub_title">경영 방침<span>Management Policy</span></h2>
                            @*<div class="grt_inner">
                                <div class="grt_circle">
                                    <p class="num">01</p>
                                    <p>개인능력<br />배양</p>
                                </div>
                                <div class="grt_circle">
                                    <p class="num">02</p>
                                    <p>영업력<br />극대화</p>
                                </div>
                                <div class="grt_circle">
                                    <p class="num">03</p>
                                    <p>부서간 <br class="grt_br" />융화를 통한<br />발전 극대화</p>
                                </div>
                            </div>*@
                            <img src="~/Images/grt_mission04.png" />
                        </div>
                        <div class="part2">
                            <h2 class="sub_title">스카이로드의 CI<span>Skyroad CI</span></h2>
                            <img src="~/Images/company_ci.jpg" />
                            <p class="blue">● # 0068b7 | R 0  G 104  B 183</p>
                            <div class="flex_div pd_bt40">
                                <div class="flex_inner short">
                                    <p class="d_title">Symbol Mark</p>
                                </div>
                                <div class="flex_inner pd_lt50">
                                    <p>스카이로드의 심볼마크는 지평선에 비친 파란 하늘과 바다를 표현하고 있습니다.</p>
                                    <p>Symbol mark of Skyroad expresses blue sky and sea reflected by horizon.</p>
                                </div>
                            </div>
                            <div class="flex_div">
                                <div class="flex_inner short">
                                    <p class="d_title">Color</p>
                                </div>
                                <div class="flex_inner pd_lt50">
                                    <p>스카이로드의 파란색은 하늘과 바다의 푸른색입니다. 또한 신뢰와 책임의 상징입니다. 스카이로드는 가장 믿음가는 대한민국 물류 기업임을 자부합니다.</p>
                                    <p>The blue color stands for sky & sea, it also means trust and responsibility.<br />Skyroad certainly believes we are the most reliable logistics company in the world.</p>
                                </div>
                            </div>
                        </div>
                        <div class="part3 bg_light">
                            <h2 class="sub_title">매출액<span>Sales</span></h2>
                            <img src="~/Images/grt_chart01.png" />
                            <p class="d_title">본질을 지키며 끊임없이 성장하는 스카이로드가 되겠습니다.</p>
                            <p>Skyroad pursues eternal growth by understanding the essentiality of logistics, and practicing the doctrine of respect for person.</p>
                        </div>
                    </div>
                    <!-- greeting_desc -->
                    <div class="greeting_desc grt_pc">
                        <div class="part1 ceo">
                            <h2 class="sub_title">CEO 메세지<span>CEO Message</span></h2>
                            <div class="grt_bg">
                                <p class="desc">원스톱 서비스를 지향하는</p>
                            </div>
                            <p class="grt_desc">글로벌 물류 기업</p>
                            <div class="flex_div pd_bt20">
                                <div class="flex_inner">
                                    <p>스카이로드는 항공, 해상 운송은 물론 통관 및 내륙운송까지 원스톱 서비스를 지향하는 글로벌 물류 기업입니다.</p>
                                    <p>1997년 창사 이래로 꾸준히 성장하며 현재까지 달려왔습니다.<br />그야말로 레드오션인 글로벌 포워딩 마켓에서 꾸준히 성장할 수 있었던 데에는 임직원분들의 남다른 도전정신이 있었기에 가능했습니다.</p>
                                    <p>스카이로드는 모두가 불가능하다고 생각하는 다양한 상황의 운송을 해결, 고객에게 잊을 수 없는 가치를 제공할 것입니다.</p>
                                </div>
                                <div class="flex_inner">
                                    <p>모두가 불가능하다고 생각하는 일을 기어코 해내고야마는 정신이 바로 스카이로드의 정신입니다.</p>
                                    <p>스카이로드는 그동안 끊임없이 축적해온 경험과 노하우를 바탕으로 수준 높은 서비스를 제공해드릴 수 있음에 큰 자부심으로 여기고 있습니다.</p>
                                    <p class="pd_bt0">전 임직원이 혼연일체가 되어 고객감동을 드리는 서비스로 귀사의 물류 효율화에 이바지하겠습니다.</p>
                                    <p class="ceo_sign">대표이사&nbsp;&nbsp;&nbsp;<img src="~/Images/ceo_sign_ko.png" /> 올림</p>
                                </div>
                            </div>
                            <div class="flex_div">
                                <div class="flex_inner">
                                    <p>Skyroad was founded in 1997 and grew into a comprehensive logistics company providing one-stop services ranging from air/sea trade, transportation, warehouseing, customs, and even e-commerce trade.</p>
                                    <p>Members of Skyroad has always challenged for the best since we started. We turn our ultimate goal of challenging into reality with the following actions of priorities.
                                    <br />It's " daring challenge for the best " . We built solid foundation of customer trust by offering differentiated customer values and meticulous execution.</p>
                                </div>
                                <div class="flex_inner">
                                    <p>Skyroad seeks to provide perfect response to the environment changing in the blurring national barrier.
                                    <br />In the rapidly changing global environment, we are seeking continued growth to help our clients enhance their logistics competitiveness.
                                    <br />Our goal is to become the most reliable logistics partner that can provide any service that clients require.</p>
                                    <p>Thank you for your continued support and interest, and we pledge to continue all of our efforts to generate sustained logistics services.</p>
                                    <p class="ceo_sign pd_bt0">CEO&nbsp;&nbsp;&nbsp;<img src="~/Images/ceo_sign_en.png" /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- greeting_desc -->
                    <div class="greeting_desc grt_pc">
                        <div class="part1">
                            <h2 class="sub_title">연혁<span>History</span></h2>
                            <div class="tab_area greet" id="tab_area">
                                <ul class="tab pt2 greet">
                                    <li value="NOW"><a href="javascript:void(0)">2020-현재</a></li>
                                    <li value="BEFORE"><a href="javascript:void(0)">2000-2019</a></li>
                                    <li value="OLD"><a href="javascript:void(0)">1997-1999</a></li>
                                </ul>
                            </div>
                            <div class="all_tab pt2">
                                <div class="hist_right">
                                    <p class="d_title">2021</p>
                                    <p><span class="d_ymd">2021.04.10</span> World Health Organization Good Distribution Practices (WHO GDP) 인증<br /><span class="d_eng">World Health Organization Good Distribution Practices</span></p>
                                </div>
                                <div class="hist_left">
                                    <p class="d_title">2020</p>
                                    <p class="pd_bt0"><span class="d_ymd">2020.12.10</span> ISO 13485 : 2016 인증 (의약품 또는 의료기기 취급 관련 화물운송 및 주선업)<br /><span class="d_eng">Acquired ISO 13485 : 2016</span></p>
                                    <p class="pd_bt0"><span class="d_ymd">2020.07.16</span> <span class="corp">㈜</span>스카이로드 특송업체 등록<br /><span class="d_eng">Started courier business</span></p>
                                    <p><span class="d_ymd">2020.06.22</span> 상업서류송달업 신고<br /><span class="d_eng">Started commercial documents delivery business</span></p>
                                </div>
                                <div class="hist_right">
                                    <p class="d_title">2016</p>
                                    <p><span class="d_ymd">2016.11.24</span> ISO 9001 : 2008 인증 (국제물류주선업, 창고업, 화물운송 및 주선업)<br /><span class="d_eng">Acquired ISO 9001 : 2008</span></p>
                                    <p><span class="d_ymd">2016.08.03</span> 화물자동차운송사업 개시<br /><span class="d_eng">Started trucking transportation business</span></p>
                                </div>
                                <div class="hist_left">
                                    <p class="d_title">2015</p>
                                    <p><span class="d_ymd">2015.01.27</span> 인천 창고 설립<br /><span class="d_eng">Established warehouse in Incheon</span></p>
                                </div>
                                <div class="hist_right">
                                    <p class="d_title">2014</p>
                                    <p class="pd_bt0"><span class="d_ymd">2014.10.14</span> 우수 국제물류주선업체 인증 (국토교통부장관)<br /><span class="d_eng">Won award from Ministry of Land, Infrastructure, and Transport</span></p>
                                    <p class="pd_bt0"><span class="d_ymd">2014.08.05</span> 인천 사무소 설립<br /><span class="d_eng">Established branch in Incheon</span></p>
                                    <p class="pd_bt0"><span class="d_ymd">2014.05.01</span> 조달청 외자물자 일괄운송 계약 체결 ('14.05.01~'18.04.30)<br /><span class="d_eng">Carried out contract with Public Procurement Services of Government</span></p>
                                    <p class="pd_bt0"><span class="d_ymd">2014.04.10</span> '2014 중소기업품질대상' 수상 (서울경제 주최)<br /><span class="d_eng">Won '2014 Quality award' from Seoul Economy broadcast</span></p>
                                    <p><span class="d_ymd">2014.04.10</span> 홍콩지사 설립 (Bridgeair Limited - Hongkong)<br /><span class="d_eng">Founded Bridgeair Limited - Hong Kong</span></p>
                                </div>
                                <div class="hist_left">
                                    <p class="d_title">2011</p>
                                    <p><span class="d_ymd">2011.12.01</span> 종합인증우수업체 AEO 인증 (관세청장)<br /><span class="d_eng">Acquired Authorized Economic Operator</span></p>
                                </div>
                                <div class="hist_right">
                                    <p class="d_title">2007</p>
                                    <p><span class="d_ymd">2007.11.26</span> 싱가폴 지사 설립 (Bridgeair Limited - Singapore)<br /><span class="d_eng">Founded Bridgeair Limited - Singapore</span></p>
                                </div>
                                <div class="hist_left">
                                    <p class="d_title">2003</p>
                                    <p class="pd_bt0"><span class="d_ymd">2003.12.23</span> 방위사업청 항공 물류 운송 계약 체결<br /><span class="d_eng">Carried out contract with Defense Acquistion Program Administration</span></p>
                                    <p><span class="d_ymd">2003.03.17</span> 부산 사무소 설립<br /><span class="d_eng">Established branch in Busan</span></p>
                                </div>
                                <div class="hist_right">
                                    <p class="d_title">2000</p>
                                    <p><span class="d_ymd">2000.12.28</span> LG전자<span class="corp">㈜</span> 물류부문 협력사 6시그마활동 우수상 수상<br /><span class="d_eng">Won the best award as cooperator of LG</span></p>
                                </div>
                                <div class="hist_left">
                                    <p class="d_title">1999</p>
                                    <p><span class="d_ymd">1999.07.01</span> ISO 9001 CAS 인증 획득<br /><span class="d_eng">Acquired ISO 9001 CAS</span></p>
                                </div>
                                <div class="hist_right">
                                    <p class="d_title">1997</p>
                                    <p class="pd_bt0"><span class="d_ymd">1997.07.09</span> 복합운송주선업 면허 획득 (건설교통부 제 758호)<br /><span class="d_eng">Registered as Freight forwarder</span></p>
                                    <p><span class="d_ymd">1997.06.28</span> <span class="corp">㈜</span>스카이로드 설립<br /><span class="d_eng">Founded Skyroad</span></p>
                                </div>
                            </div>
                            <div class="tab_panel pt2">
                                <div class="panel">
                                    <div class="hist_right">
                                        <p class="d_title">2021</p>
                                        <p><span class="d_ymd">2021.04.10</span> World Health Organization Good Distribution Practices (WHO GDP) 인증<br /><span class="d_eng">World Health Organization Good Distribution Practices</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">2020</p>
                                        <p class="pd_bt0"><span class="d_ymd">2020.12.10</span> ISO 13485 : 2016 인증 (의약품 또는 의료기기 취급 관련 화물운송 및 주선업)<br /><span class="d_eng">Acquired ISO 13485 : 2016</span></p>
                                        <p class="pd_bt0"><span class="d_ymd">2020.07.16</span> <span class="corp">㈜</span>스카이로드 특송업체 등록<br /><span class="d_eng">Started courier business</span></p>
                                        <p><span class="d_ymd">2020.06.22</span> 상업서류송달업 신고<br /><span class="d_eng">Started commercial documents delivery business</span></p>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="hist_right">
                                        <p class="d_title">2016</p>
                                        <p><span class="d_ymd">2016.11.24</span> ISO 9001 : 2008 인증 (국제물류주선업, 창고업, 화물운송 및 주선업)<br /><span class="d_eng">Acquired ISO 9001 : 2008</span></p>
                                        <p><span class="d_ymd">2016.08.03</span> 화물자동차운송사업 개시<br /><span class="d_eng">Started trucking transportation business</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">2015</p>
                                        <p><span class="d_ymd">2015.01.27</span> 인천 창고 설립<br /><span class="d_eng">Established warehouse in Incheon</span></p>
                                    </div>
                                    <div class="hist_right">
                                        <p class="d_title">2014</p>
                                        <p class="pd_bt0"><span class="d_ymd">2014.10.14</span> 우수 국제물류주선업체 인증 (국토교통부장관)<br /><span class="d_eng">Won award from Ministry of Land, Infrastructure, and Transport</span></p>
                                        <p class="pd_bt0"><span class="d_ymd">2014.08.05</span> 인천 사무소 설립<br /><span class="d_eng">Established branch in Incheon</span></p>
                                        <p class="pd_bt0"><span class="d_ymd">2014.05.01</span> 조달청 외자물자 일괄운송 계약 체결 ('14.05.01~'18.04.30)<br /><span class="d_eng">Carried out contract with Public Procurement Services of Government</span></p>
                                        <p class="pd_bt0"><span class="d_ymd">2014.04.10</span> '2014 중소기업품질대상' 수상 (서울경제 주최)<br /><span class="d_eng">Won '2014 Quality award' from Seoul Economy broadcast</span></p>
                                        <p><span class="d_ymd">2014.04.10</span> 홍콩지사 설립 (Bridgeair Limited - Hongkong)<br /><span class="d_eng">Founded Bridgeair Limited - Hong Kong</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">2011</p>
                                        <p><span class="d_ymd">2011.12.01</span> 종합인증우수업체 AEO 인증 (관세청장)<br /><span class="d_eng">Acquired Authorized Economic Operator</span></p>
                                    </div>
                                    <div class="hist_right">
                                        <p class="d_title">2007</p>
                                        <p><span class="d_ymd">2007.11.26</span> 싱가폴 지사 설립 (Bridgeair Limited - Singapore)<br /><span class="d_eng">Founded Bridgeair Limited - Singapore</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">2003</p>
                                        <p class="pd_bt0"><span class="d_ymd">2003.12.23</span> 방위사업청 항공 물류 운송 계약 체결<br /><span class="d_eng">Carried out contract with Defense Acquistion Program Administration</span></p>
                                        <p><span class="d_ymd">2003.03.17</span> 부산 사무소 설립<br /><span class="d_eng">Established branch in Busan</span></p>
                                    </div>
                                    <div class="hist_right">
                                        <p class="d_title">2000</p>
                                        <p><span class="d_ymd">2000.12.28</span> LG전자<span class="corp">㈜</span> 물류부문 협력사 6시그마활동 우수상 수상<br /><span class="d_eng">Won the best award as cooperator of LG</span></p>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="hist_right">
                                        <p class="d_title">1999</p>
                                        <p><span class="d_ymd">1999.07.01</span> ISO 9001 CAS 인증 획득<br /><span class="d_eng">Acquired ISO 9001 CAS</span></p>
                                    </div>
                                    <div class="hist_left">
                                        <p class="d_title">1997</p>
                                        <p class="pd_bt0"><span class="d_ymd">1997.07.09</span> 복합운송주선업 면허 획득 (건설교통부 제 758호)<br /><span class="d_eng">Registered as Freight forwarder</span></p>
                                        <p><span class="d_ymd">1997.06.28</span> <span class="corp">㈜</span>스카이로드 설립<br /><span class="d_eng">Founded Skyroad</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- greeting_desc -->
                    <div class="greeting_desc grt_pc">
                        <div class="part1">
                            <h2 class="sub_title">인증현황<span>Certification</span></h2>
                            <div class="certify">
                                <div class="flex_div">
                                    <div class="certi_list">
                                        <img src="~/Images/f_aeo.png" />
                                        <img src="~/Images/grt_certi01.png" />
                                    </div>
                                    <div class="certi_list">
                                        <img src="~/Images/f_celc.png" />
                                        <img src="~/Images/grt_certi02.png" />
                                    </div>
                                    <div class="certi_list">
                                        <img src="~/Images/f_iso2.png" />
                                        <img src="~/Images/grt_certi03.png" />
                                    </div>
                                </div>
                                <div class="flex_div">
                                    <div class="certi_list">
                                        <img src="~/Images/f_iso.png" />
                                        <img src="~/Images/grt_certi04.png" />
                                    </div>
                                    <div class="certi_list">
                                        <img src="~/Images/f_sgs.png" />
                                        <img src="~/Images/grt_certi05.png" />
                                    </div>
                                    <div class="certi_list">
                                        <img src="~/Images/f_mainbiz.png" />
                                        <img src="~/Images/grt_certi06.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part2 certify">
                            <h2 class="sub_title">자격현황<span>Status of qulifications</span></h2>
                            <div class="certify">
                                <div class="flex_div">
                                    <div class="certi_list2">
                                        <img src="~/Images/grt_certi07.png" />
                                        <p>국제물류주선업</p>
                                    </div>
                                    <div class="certi_list2">
                                        <img src="~/Images/grt_certi08.png" />
                                        <p>화물운송주선업</p>
                                    </div>
                                    <div class="certi_list2">
                                        <img src="~/Images/grt_certi09.png" />
                                        <p>화물자동차운송사업</p>
                                    </div>
                                    <div class="certi_list2">
                                        <img src="~/Images/grt_certi10.png" />
                                        <p>특송업체등록</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- greeting_desc -->
                </div>
            </div>
        </div>
        <!-- //contents -->
    }
    @Scripts.Render("~/Scripts/js/Company/Greeting.js")
}
